body{

background-color:#013669;
margin:0 auto;
//background-image:url('../images/bg-image1.jpg');
background:url("ui/legobg.png") fixed;
background-size:cover;
padding-right:0px !important;
}
* {
    outline: medium none;
}
header
{
background:url("ui/headerbg.png") 0 0 repeat-x #004f7c;
height: 72px;
  border-bottom: #1a8dcb 4px solid;
}

.margin-right
{
margin-right:0px;
margin-left:0px;
}

.wrapper
{
	max-width:1400px;
	margin:0 auto;
	width:100%;
}

#openNav
{
  background: url("ui/menu.png") center no-repeat;
  height: 26px;
  width: 26px;
  float: left;
  margin-top: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.clear
{
clear:both;
}

header .logo h2 {
  color: #eee;
  font-size: 24px;
  font-family: 'Arial';
  font-weight: bold;
}

.modalLayout
{
	width:100%;
	max-width:900px;
}
.modalheader {
    border-bottom: 3px solid #4cae4c;
}

.modalbody {
    padding: 10px 0;
		text-align:center;
}

.header-right h2
{
  font-size: 14px;
  //float: right;
  margin-top: 30px;
  color: #eee;
  text-align: center;
}

section
{
	margin-bottom:15px;
}

.footer-text 
{

  text-align: center;
  color: #777;
  margin-bottom: 10px;
  font-size: 10px;	

}

.padding
{
	padding-right:0px;
	padding-left:0px;
}

.width
{
	width:100%;
}

.section-format
{

	 background-color:white;
	//border:3px solid #1e6197;
	//border-radius:5px;

}
.head-top{
float:left;
border:1px solid #337ab7;
/* color:white; */
color:#a6b3c7;
}

.head-top1
{
float:left;
border-bottom:2px solid #DBDFE2;
/* color:white; */
color:#a6b3c7;
}

.head-top2{
float:left;

color:#a6b3c7;
}

.head-top-mid{
	text-align:center;
	float:right;
	margin-bottom:8px;
}

.margin-left
{
	margin-left:0px;
}

.DevStatus
{
padding-left:0px;
}

.side-border
{
 min-height:480px;
 border-left:2px solid #CACACA;
}

.actioncenter
{
	float:right;
	margin-bottom: 15px;
    margin-top: 5px;
}

ul.header_links {
   
    float: right;
	display:inline;
    list-style-type: none;
    margin: 3px 0 3px;
    padding-bottom: 8px;
    width: auto;
}
ul.header_links2{
   
    float: right;
	display:inline;
    list-style-type: none;
    margin: 3px 0 3px;
    padding-bottom: 8px;
    width: auto;
}

ul li 
{
 //width:15%;
text-align:center;

}

ul li:first-child {
  border-left: none;
}
.header_links li {
  border-left: 1px solid #8DB6B9;
//  border-bottom: 1px solid #8FA8AA;
  float: left;
  width: auto;
}


.header_links a {
 // color: #FFFFFF;
  padding: 0 5px;
  font-size: 11px;
  text-align: center;
}
.header_links2 li {
 // border-left: 1px solid #8DB6B9;
//  border-bottom: 1px solid #8FA8AA;
  float: left;
  width: auto;
}


.header_links2 a {
  //color: #FFFFFF;
  padding: 0 5px;
  font-size: 15px;
  text-align: center;
}
.logo-format
{
font-size:40px;
font-family:arial;
text-decoration:underline;
color:rgb(253, 204, 76);
}




.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
		cursor: pointer;
	}

.flipper img
{
	width:100%;
	height:260px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	-webkit-transition: 0.6s;
    -moz-transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front
{
	backface-visibility: hidden;

	position: relative;
	top: 0;
	left: 0;
}


.back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, 

placed above back */

.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
	/* //border: 1px solid rgb(216, 218, 207); */
	box-shadow:0 0 10px 0 rgba(0,0,0,.62)
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}


.menu
{
	positon:relative;
}

.menu li a
{
	background-color:rgba(0, 0, 0, 0.23);
}

.menu li a.active
{
background-color:#2e6da4;
color:white;
z-index: 1;
width: 101%;
}

.bottom-font
{
	color:#337ab7;
	text-align:center;
	font-family:arial;
	font-weight:bold;
	/* white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; */
	height:300px;
	margin-top: 15px;
    //margin-bottom: 11px;
	width:19.88%;
}

.back-text
{
 color:rgb(74, 134, 75);
}

.imgexp
{
 display:block;
}

.one {
    position: relative;
    top: 0;
   // background-color: lightblue;
    z-index: 1;
	  margin-bottom: 8px;
}

.two {
    position: relative;
    top: -40px;
    background-color: yellow;
    z-index: -1;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
}

.one:hover + .two
{
    top: 0px;
}

.nav-float
{
	padding-right:0px;
	padding-left:0px;
}

#panel
{
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	margin-top:10px;
	 padding: 50px;
    display: none;
	width:auto;
	position:relative;
}

#panel1
{
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	margin-top:10px;
	 padding: 50px;
    display: none;
	width:auto;
}

.hidden-div
{
	//width:100%;
	//padding:100px;
	//display:none;
	//background-color:rgb(202, 214, 252);
	background-color:#f5f5f3;
	text-align:center;
	//display:block;
	border-radius:10px;
	//border:2px solid rgba(112, 149, 228, 0.06);
	border:2px solid rgba(215, 215, 215, 0.87);
	margin-top:10px;
	//position:relative;
	/* margin-left:5px;
	margin-right:5px;
	//position:absolute;
	//top:10%;
	//left:10%; */
	margin-left: 10px;
	width: 98%;
	padding: 22px;
	color:rgb(31, 46, 79);
	position:relative;
	box-shadow:1px 1px 6px 2px rgba(215, 215, 215, 0.87);
	margin-bottom:10px;
	color: #847A83;
  font-weight: 600;
}

.hidden-div img.arrow
{
	position:absolute;
	top: -43px;
    //left: 116px;
}

.back-div
{
  height: 100%;
  width: 100%;
  //border: 1px solid rgb(216, 218, 207);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.62);
  border-radius: 2px;
  color: grey;
  text-align: left;
  padding: 15px;
  font-size:12px;
}

.back-text1
{
	color:rgb(172, 176, 115);
}

.close-btn,.close-btn:hover
{
  position: absolute;
  top: 5px;
  right:10px;
  cursor:pointer;
}

.bttn
{
 margin-top:5px;
 position:relative;
}

.content-pos
{
 padding:100px;
}

.bar-width
{
	//width:40%;
	float:left;
}

td, th
{
padding:10px;
}

.ng-isolate-scope td,.ng-isolate-scope  th
{
padding:0;
line-height:18px;
}

#rStartDate.form-control[readonly],#rExitDate.form-control[readonly],#rDueDate.form-control[readonly],#rLaunchDate.form-control[readonly],#uLaunchDate.form-control[readonly],#uExitDate.form-control[readonly],#deployment_date.form-control[readonly],#image-url.form-control[readonly]
{
background-color: white;
cursor: pointer;
}

.commnt-box
{
	width:auto;
	margin-top: 30px;
}

.comment-div
{
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.62);
	word-wrap:break-word;
	margin-bottom: 15px;
	padding-bottom: 15px;
	margin-top:15px;	
}

.comment-user
{
	font-weight:bold;
	color:#337ab7;
	text-align: left;
}

.comment-notes
{
	box-shadow: 0 0 1px 0 rgba(0,0,0,.62);
	background-color:#f2f2f2;
	text-align: left;
	margin-top: 6px;
}

.text-area
{
	margin-top:10px;
}

.padding-label
{
	padding:0px;
}

.show-error
{
	border-color:red;
}


.form-control.ng-dirty.ng-invalid
{
	border-color:red;
}

.estfields
{
	font-size:11px;
}

.burndown
{
	box-shadow: 0 0 10px 0 rgba(255, 0, 0, 1);
}

/* [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
} */

.divOverlay{left:0;top:0;position:fixed;z-index:444;background-color:#333;opacity:.4;width:100%;height:100%;text-align:center;
vertical-align:middle;}

.divOverlay img
{
	text-align:center;  position: absolute;
  top: 50%;
  margin-top: -21px;
  left: 50%;
  margin-left: -21px;
}

.bttn-text
{
	padding: 7px;
    font-size: 15px;
}
  
#newrequest .form-group {
  width: 50%;
  float: left;
}

.bttn-pos
{
	float:right;
	margin-top:10px;
}

.modal-body{text-align:center}
.modal-footer
{
border:none;
margin-top: 20px; 
clear: both;
}

.red
{
color:red;
}

.imgexp a
{
	color: #69737C;
}

a:focus, a:hover 
{
    color: #303C47;
    text-decoration: none;
	cursor:pointer;
}  

.maincontainer
{
	width:100%;
}

.navigation ul 
{
  padding: 0;
  margin: 0;
}

.header
 {
  background: #0070ba url(ui/headerbg.png) 0 0 repeat-x;
}  

/*! Freebie Skelet */
	ul.expmenu * { list-style: none; }
	ul.expmenu > li > div.header { padding: 12px; border-bottom: 1px #396e9f solid; height: auto; }
	ul.expmenu > li:last-child > div.header { border-bottom: none; }
	/*ul.expmenu > li.active .header{background: #fff; color: #333;}
	ul.expmenu > li.active .header .label{ color: #333;}
	ul.expmenu > li.active:hover  .header{background-color: #fff;}*/
	ul.expmenu > li ul li { background-color: #ececec; padding: 12px; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #fff; color: #727272; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }
	ul.expmenu > li ul li:last-child { border-bottom: none; }
	ul.expmenu > li ul li.selected { background-color: #f4f4f4; }
	ul.expmenu div.header
	{
		color: #203f61;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);

		background: #44555; /* Old browsers */
	}
	ul.expmenu > li > div.header > .label { padding-left: 24px; background: no-repeat; }
	ul.expmenu > li > div.header > .arrow { display: block; width: 16px; height: 16px; background: no-repeat center; float: right; }
	ul.expmenu > li > div.header > .arrow.up { background-image: url(ui/arrow_u.png); }
	ul.expmenu > li > div.header > .arrow.down { background-image: url(ui/arrow_d.png); }
	
	
	
	
	/* Mouse Events */
		ul.expmenu div.header:hover
		{
			background: #222; /* Old browsers */
			
			cursor: pointer;
		}

		ul.expmenu > li ul li:not(.selected):hover
		{
			background: #e7e7e7; /* Old browsers */

			cursor: pointer;
		}
		ul.expmenu > li ul li:not(.selected):active
		{
			background: #f1f1f1; /* Old browsers */

			cursor: pointer;
		}
	
* 
{
  outline: none;
}

.navigation{padding: 0; display: none;}
.navigation ul{padding: 0;margin: 0;}

header .usermenu .userheading{color: #eee;background:none !important; line-height: 39px;}
header .usermenu .userheading:hover{color: #fff; }


.align li a
{
 text-align:left;
}

.title-style
{
	color:black;
	//text-transform:uppercase;
	width: 85%;
	float: left;
}

.modal-body .col-md-4 ul li
{
	list-style:none;
	text-align:left;
	color: black;
  line-height: 50px;
  font-size:15px;
}

.ProStatus
{
	//background-color:rgb(157, 244, 157);
}

textarea
{
	resize:none;
}

.modalbody h4
{
	text-align: center;
  font-weight: bold;
  color: #999;
  font-size: 15px;
  border-bottom: #4cae4c 3px solid;
  padding: 5px 0px 8px 0px;
  margin: 0;
}

.footer
{
height: 25px;
  background: #000;
  color: #777;
  position: fixed;
  bottom: 0;
  opacity: 0.9;
  font-size: 10px;
  line-height: 25px;
  text-align: center;
  z-index:1;
}

.modalbody .row .chartimg
	{
		padding-left:0px;
	}

.center-modal .modal-content.ng-scope
{
   /* // top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 100%;
    height: 100%;
   margin-left: -10%; */
   
    max-height: 650px;
    overflow-y: scroll;
}

.center-img-modal .modal-body
{
	max-height: 500px;
    overflow-y: scroll;
}

.approve-btn
{
	margin-top:10px;
}

.imgborder
{
	box-shadow:0 0 10px 0 rgba(0,0,0,.62);
	margin-bottom:25px;
}

/* .modal-height  .modal-body 
{
	max-height:500px;
	overflow-y:scroll;
} */

.selectedText
{
	color:green;
}

.selectedImage
{
	box-shadow: 0 0 10px 0 rgba(24, 161, 20, 1);
}

.bttn-margin
{
	margin-top:10px;
}

.imgborder input[type="radio"]
{
	display:none;
	/* position: relative;
	top: 35px; */
}

.imgmodal .col-md-3 img
{
	width:100%;
	cursor:pointer;
}

.dropdown-pos
{
	right:0px;
	left:-113px;
}

body.modal-open 
{
  overflow: inherit;
  padding-right: 0px !important;
}

.modalbody .imgclass img
{
	margin-top:10px;
	margin-bottom:25px;
}

.modalbody ul 
{
	display:inline-block;
}

.modalbody ul li
{
	//display:inline-block;
	list-style-image:url('ui/process.png');
	text-align:left;
}


.modalheader
{
	//background-color:#B8EFFF;
	border-bottom: #4cae4c 3px solid;
}

.modalbody
{
	padding:10px 0px;
}

.modalfooter
{
	margin-top:0px;
	//background-color:#B8EFFF;	
}

.DevStatus
{
	//background-color:rgb(255, 247, 174);
}

.modal-body .col-md-8 ul li
{
	list-style:none;
	text-align:left;
	color:#2e6da4;
  line-height: 50px;
  font-size:15px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  position: absolute;
 
  /* Each alert has its own width */
  float: right;
 
  clear: right;
}

.alert-red {
  color: white;
  background-color: #DA4453;
}
.alert-green {
  color: white;
  background-color: #37BC9B;
}
.alert-blue {
  color: white;
  background-color: #4A89DC;
}
.alert-yellow {
  color: white;
  background-color: #F6BB42;
}
.alert-orange {
  color:white;
  background-color: #E9573F;
}
/* Media Query Starts Here */


 @media screen and (max-width:1000px)
{
	.bottom-font
	{
		max-width:230px;
		margin-top:20px;
		width:100%;
		float:left;
	}
	
	.menu li a.active
	{
		width:100%;
	}
	
	
	header .logo h2
	{
		margin-top: 16px;
		float: left;
	}
	
	.head-top-mid
	{
		float: left;
		width: 53%;
	}
	
	.head-top1
	{
		float:none;
	}
	
	.modalbody .row .chartimg
	{
		padding-left:15px;
	}
	
	.DevStatus
	{
		padding-left:15px;
	}
	
}

@media screen and (max-width:800px)
{
	.dropdown-list
	{
		float:right;
	}

	.title-style
	{
		float:none;
		text-align:center;
	}
	

}

@media screen and (max-width:481px)
{
	.modalbody .row .chartimg img
	{
		width:100%;
	}
	
	.refreshbtn
	{
		margin-top:10px;
	}
	
	.bottom-font
	{
	  float:none;
	  margin: 15px auto;
	  max-width:285px;
	}
	
	#openNav
	{
		width:50px;
		margin-top:17px;
		margin-right: 0px;
	}
	
	#newrequest .form-group
	{
			width:100%;
	}
	
	
	
	.head-top-mid
	{
		float:none;
		width:100%;
	}
	
	ul.header_links2
	{
		float:left;
		display:block;
		padding-bottom: 10px;
	}
	
	header
	{
		height:auto;
		
	}

}

@media screen and (max-width:320px)
{
	.bttn-group
	{
		margin-top:10px;
	}
}

