<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="css/bootstrap.min.css">  
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/alertcs.css">
	<link rel="stylesheet" href="css/angular-chart.css">
	
	
	<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.js"></script>
	<![endif]-->


  </head>
  <body>
  <div ng-app="myApp" ng-controller="namesCtrl"> 
  <div class="wrapper">
  <header>
	
 <div class="col-md-12">
			<div class="col-md-4 logo">
			
				<!-- <div id="openNav"></div> -->
				<h2>Self Service Portal</h2>
			</div>
			
			<div class="col-md-6" style="text-align:center">
				 <div id="ohsnap"></div>
			</div>
			
			<div class="col-md-2 header-right usermenu">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
					<a href="#" class="dropdown-toggle userheading" data-toggle="dropdown" role="button" aria-expanded="false">Welcome {{UserName}} <span class="caret"></span></a>
						<ul class="dropdown-menu align" role="menu">
						<!-- <li><a href="#">Profile</a></li>
						<li><a href="#">Settings</a></li>
						<li><a href="#">Change Password</a></li>
						<li class="divider"></li> -->
						<li><a href="#" ng-click="Logout()">Logout</a></li>
						</ul>
			</li>
		</ul>
			</div>
  </div>   <!-- col-md-12 -->
 
 
 
  </header>
  
 
  <section>
  
		<div class="container width padding">
  
  
		<div class="row margin-right">
				<div class="col-md-2 navigation">
		
						<ul id="expmenu-freebie">
			<li>
				<!-- Start Freebie -->
				<ul class="expmenu">
					<li class="active">
						<div class="header">
							<span class="label" style="background-image: url(css/ui/pc.png);">Dashboard</span>
						</div>
					</li>
					<li>
						<div class="header">
							<span class="label" style="background-image: url(css/ui/messages.png);">Messages</span>
							<span class="arrow down"></span>
						</div>
						<ul class="menu" style="overflow: hidden; display: none;">
							<li>Notification Settings</li>
							<li class="selected">Email Alerts</li>
							<li>Privacy Settings</li>
						</ul>
					</li>
					<li>
						<div class="header">
							<span class="label" style="background-image: url(css/ui/user.png);">User Controls</span>
						</div>
					</li>
					<li>
						<div class="header">
							<span class="label" style="background-image: url(css/ui/pc.png);">Screen Settings</span>
							<span class="arrow down"></span>
						</div>
						<ul class="menu" style="overflow: hidden; display: none;">
							<li>Your settings</li>
						</ul>
					</li>
					<li>
						<div class="header">
							<span class="label" style="background-image: url(css/ui/search.png);">Search</span>
						</div>
					</li>
					<li>
						<div class="header">
							<span class="label" style="background-image: url(css/ui/user.png);">Menu Name</span>
						</div>
					</li>
					<li>
						<div class="header" id="hidenav">
							<span class="label" style="">&lt;&lt; Hide Menu</span>
						</div>
					</li>
				</ul>
				<!-- End Freebie -->
			</li>
		</ul>
		
				</div> <!-- navigation -->
		
				<div class="col-md-10 maincontainer padding">
		
	<div class="section-format">
 
 <!-- **********Section Header*********************** -->
 
					<div class="row margin-right"> <!-- first header -->
   
   
   
		<div class="col-md-12  head-top2">
				<div class="col-md-2"></div>
					<div class="col-md-3"></div>

								<div class="col-md-7">
											<div class="actioncenter">
														<!-- Split button -->
										<!-- <div class="btn-group">
										<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#TesttomyModal">
												Launch demo modal
										</button>
										</div> -->		
												
												
										    
										<!-- 	<alert type="danger" close="bCloseAlert=1" ng-hide="bCloseAlert">i'm alert</alert> -->
											
														<div class="btn-group">
										<a href="../dashboard.html" class="btn btn-info btn-lg bttn-text">
									<span class="glyphicon glyphicon-th-list"></span> List View
														</a>
														</div>
														
														<div class="btn-group">
							   <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-disabled="true" >Action
															<span class="caret"></span>
															</button>
															<ul class="dropdown-menu" role="menu">
															<li><a href="#"  id="exportpdf">Export PDF</a></li>
															<li><a href="#">Export XLS</a></li>
															<li><a href="#">Export SQL</a></li>
															</ul>
														</div>

		
												<!-- Split button -->
													<div class="btn-group bttn-group">
														<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Create New
														<span class="caret"></span>
				
														</button>
												<ul class="dropdown-menu" role="menu">
												<li><a href="#" ng-click="openPopup()" id="request-campaign">Campagin Request</a></li>
														</ul>
													</div>
								<button type="button" class="btn btn-default refreshbtn" ng-click="refreshScreen()" id="reloadGrid">Refresh</button>
											
											</div>  <!-- actioncenter -->

								</div>  <!-- col-md-5 -->
		</div> 
					</div>  <!-- first Header Endsss -->
  
	
					<div class="row margin-right">		<!-- Second header -->
							<div class="col-md-12  head-top1">
											<div class="col-md-3"></div>
											<div class="col-md-4 head-top-mid nav-float">
											<div class="input-group">
						            <input type="text" ng-model="search" class="form-control" placeholder="Search" id="query" name="query" value="">
							        <div class="input-group-btn">
						            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
						            </div>
											</div>
											</div>
									<div class="col-md-5">		
									</div> 
							</div> 
					</div> <!--  Second Header Ends-->
 
  
					<div class="row margin-right"> <!-- images-row -->
					<!-- div ng-app="myApp" ng-controller="namesCtrl">  -->
					<div class="col-md-2 nav-float">
									<div class="col-md-12 nav-float menu1">
	
										<ul class="nav nav-pills nav-stacked menu">			
				<li><a href="#" ng-class="class" class="active" id="home" ng-click="orderAssign('EstimatedTime','jsondata/estimate')">Estimate</a></li>
				<li><a href="#" ng-class="class" rel="menu1" ng-click="orderAssign('id','jsondata/development')">Development</a></li>
				<li><a href="#" ng-class="class" rel="menu1" ng-click="orderAssign('project_cost','jsondata/live')">Live</a></li>
				<li><a href="#" ng-class="class" rel="menu2" ng-click="orderAssign('producer_name','jsondata/archived')">Archived</a></li>	
										</ul>
									</div>	
							</div> <!-- md-2 main -->
					
					<div class="col-md-10 side-border">

							  <div class="divOverlay" ng-show="displayOverlay">
								<img src="images/loading.gif">
							  </div>
										<!-- div ng-app="myApp" ng-controller="namesCtrl"> --> 
									<div class="row imgexp" id="menu1">
												  <div ng-repeat="x in names | filter:search | orderBy : ['SiteDown','burndown','launch_date']" ng-if="x!=null">
									<div class="flip-container col-md-3 bottom-font" id='div-{{x.id}}'>
										<div class="flipper one" ng-click="detailSection(x,$index,'lg')" id='dv-{{x.id}}'>
														<div class="front" ng-class="{'burndown' : CheckBurndown(x)}" >
						<img src={{x.image_url?x.image_url:'images/lego.jpg'}}>	<!-- <img src="{{x.img_url}}"> --><!-- front content -->
															</div>											
													<div class="back back-div" ng-class="{'burndown' : CheckBurndown(x)}" >
															<p ng-show="DisplayStartDate" class="back-text">Start: <span class="back-text1">{{StartDatefunc(x)}}</span></p>
																<!-- back content -->
															<p class="back-text">Launch :  <span class="back-text1">{{LaunchDatefunc(x)}} </span></p>
															
															<p class="back-text">Estimate: <span class="back-text1">{{x.project_cost}}</span></p>
															
															<p class="back-text">Market: <span class="back-text1">{{x.market}}</span></p>
															
															<p class="back-text">Producer: <span class="back-text1">{{x.producer_name}}</span></p>
															  <div class="row">
															<div class="col-sm-12" ng-show="DisplayStartDate"><progressbar class="progress-striped active" max="100" value="x.progress" type="{{type(x,$index)}}"><i>{{x.progress}}%</i></progressbar></div>
															</div>
																														
													</div>   <!-- Back Div Ends -->
										</div> <!-- flipper one -->

											<a ng-click="detailSection(x,$index,'lg')">{{ x.name | limitTo: 23 }}{{x.name.length > 23 ? '...' : ''}} </a>
											<div clear="clear"></div>
						

									</div> <!-- flip-container -->	
																							
													
						<!-- <div class="col-md-12 hidden-div" ng-show="displayThis==$index"  ng-if="$index % 5 == 4">
						<div class="row">
				<div  class="col-md-1"><img class="arrow" ng-if="arrowLoc==0" src="images/arrow1.png"></div>
				<div  class="col-md-4"><img class="arrow" ng-if="arrowLoc==1" src="images/arrow1.png"></div>
				<div  class="col-md-2"><img class="arrow" ng-if="arrowLoc==2" src="images/arrow1.png"></div>
				<div  class="col-md-2"><img class="arrow" ng-if="arrowLoc==3" src="images/arrow1.png"></div>
				<div  class="col-md-3"><img class="arrow" ng-if="arrowLoc==4" src="images/arrow1.png"></div>
						</div>
									<!-- 	Pincode is : <input type="text" ng-model="first"><br>  
									<span class='glyphicon glyphicon-remove close-btn' ng-click="slideUp()"></span>
													<table>
											<div class="actioncenter">	
									<div class="btn-group">	
										<button type="button" class="btn btn-info bttn-pos">Action</button>		
										<button type="button" class="btn btn-info bttn-pos dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
										</button>
									<ul class="dropdown-menu dropdown-menu-position" style="right:0px;left:-113px;" role="menu">
								<li><a href="#" ng-click="procurement()" id="procurementBtn">Add Procurement Details</a></li>
								<li><a href="#" ng-click="deployment()" id="deploymentbtn">Add Deployment Request</a></li>
								<li><a href="#" ng-click="updateCampaign()" id="UpdateCampaign">Update Campaign</a></li>
								<li><a href="#" ng-click="securityScan()" id="SecurityScan">Start Security Scan</a></li>
									</ul>
									</div>  <!-- btn-group 
								</div>  <!-- actioncenter --	
											<tr>    <td class="bar-width">Project Name:</td> <td ng-bind="proj"></td>
											</tr>
											<tr>    <td class="bar-width">Producer_name:</td> <td ng-bind="prod"></td></tr>
											 <tr>   <td class="bar-width">Status:</td><td ng-bind="status"></td> </tr>
											  <tr>  <td class="bar-width">Hosting_Platform:</td><td ng-bind="plat"></td></tr>
											 <tr>   <td class="bar-width">Launch Date:</td><td ng-bind="date"></td></tr>
											 <tr>   <td class="bar-width">Market:</td><td ng-bind="mrkt"></td></tr>
													</table>
						</div>  -->    <!-- displayThis -->
													
													
										
												  </div>  <!-- ng-repeat -->		
				<!-- <div >
				<pagination boundary-links="true" total-items="names.length" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" items-per-page="itemsPerPage" pagination-id="TotalCampaigns" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></pagination>
				
				</div> -->
												  
										    </div>  <!-- row imgexp -->
											
								<!-- 	<div class="col-md-12 hidden-div"  ng-hide="myVar">
								<!-- 	Pincode is : <input type="text" ng-model="first"><br>  --
							<div class="row">
						<!-- 	<div class="col-md-1"><img class="arrow" src="images/arrow1.png"></div> --
				<div  class="col-md-1"><img class="arrow" ng-if="arrowLoc==0" src="images/arrow1.png"></div>
				<div  class="col-md-4"><img class="arrow" ng-if="arrowLoc==1" src="images/arrow1.png"></div>
				<div  class="col-md-2"><img class="arrow" ng-if="arrowLoc==2" src="images/arrow1.png"></div>
				<div  class="col-md-2"><img class="arrow" ng-if="arrowLoc==3" src="images/arrow1.png"></div>
				<div  class="col-md-3"><img class="arrow" ng-if="arrowLoc==4" src="images/arrow1.png"></div>
							</div>
							<span class='glyphicon glyphicon-remove close-btn' ng-click="sldeUp()"></span>
								<div class="actioncenter">	
									<div class="btn-group">	
										<button type="button" class="btn btn-info bttn-pos">Action</button>		
										<button type="button" class="btn btn-info bttn-pos dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
										</button>
									<ul class="dropdown-menu dropdown-menu-position" style="right:0px;left:-113px;" role="menu">
								<li><a href="#"  ng-click="procurement()" id="procurementBtn">Add Procurement Details</a></li>
								<li><a href="#" ng-click="deployment()" id="deploymentbtn">Add Deployment Request</a></li>
								<li><a href="#" ng-click="updateCampaign()" id="UpdateCampaign">Update Campaign</a></li>
								<li><a href="#" ng-click="securityScan()" id="SecurityScan">Start Security Scan</a></li>
									</ul>
									</div>  <!-- btn-group --
								</div>  <!-- actioncenter --	
											<table>
								
											<tr> <td class="bar-width">Project Name:</td> <td ng-bind="proj"></td> </tr>
											<tr> <td class="bar-width">Producer_name:</td> <td ng-bind="prod"></td> </tr>
											<tr><td class="bar-width">Status:</td><td ng-bind="status"></td> </tr>
											<tr>  <td class="bar-width">Hosting_Platform:</td><td ng-bind="plat"></td>  </tr>
											<tr>   <td class="bar-width">Launch Date:</td><td ng-bind="date"></td>  </tr>
											<tr>   <td class="bar-width">Market:</td><td ng-bind="mrkt"></td>  </tr>
									
											</table>
								<!-- 	Country is : <input type="text" ng-model="last"><br> --
								
								</div> -->				<!-- myVar -->
									
					</div>	 <!-- md-10 -->
											
					</div><!--  main-image row-->
	
	</div>  
	 
	 <!-- Section-Format -->
	
				</div>  <!-- Main Container Ends -->
		
  		
 
		</div>  <!-- row -->
		</div>	<!-- Container -->
  </section>
 <div class="clearfix"></div>
 
 <footer>
	<!-- <div class="container">
		<div class="row">
				<div class="col-md-12 footer-text">
				&copy; 2015 All right reserved. HCL Technologies Limited
				</div>
		</div>
	</div> -->
	<div class="col-md-12 col-xs-12 footer">
	&copy; 2015 All right reserved. HCL Technologies Limited
	</div>
 </footer>
  
   </div>  <!-- wrapper -->	
	
	<!-- HTML used through JS -->
	
	<script type="text/ng-template" id="DetailModalContent">
	<div class="modalLayout">
	<div class="modal-content">
        <div class="modal-header modalheader">
          <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>
          <h4 class="modal-title title-style"> {{CampaignName}}</h4>		
		  <!-- <button type="button" class="btn btn-info" ng-disabled="EstimateTime>0">Approve
		  </button> -->
				<div class="btn-group dropdown-list">	
					<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action
					<span class="caret"></span>
					</button>		
									<ul class="dropdown-menu dropdown-menu-position dropdown-pos" role="menu">
								<li><a href="#"  ng-click="procurementModal()" id="procurementBtn">Add Procurement Details</a></li>
								<li><a href="#" ng-click="deploymentModal()" id="deploymentbtn">Add Deployment Request</a></li>
								<!-- <li ng-show="ShowEstimateFields"> -->
								<li>
								<a href="#" ng-click="addEstimateModal('lg')" id="addestimatetbtn">Add Estimate</a>
								</li>
								<li><a href="#" ng-click="updateCampaignModal()" id="UpdateCampaign">Update Campaign</a></li>
								<li><a href="#" ng-click="securityScan()" id="SecurityScan">Start Security Scan</a></li>
								<li ng-show="ShowEstimateFields && EnableApprove"><a href="#"  ng-click="approveCampaign()" id="Approve">Approve</a></li>
								<li><a href="#" ng-click="ImageSelection('lg')" id="UpdateImage">Update Image</a></li>
								<li><a href="../featureng/features.html#/?id={{ProjectId}}" id="AddFeature">More Details</a></li>
									</ul>
				</div>  <!-- btn-group -->
					<div class="clearfix"></div>
			</div>	<!-- Modal Header Ends -->
        <div class="modal-body modalbody">
					<div class="row">
						<div class="col-md-5 ProStatus">
						<h4>Campaign Phase</h4>
						<div class="col-md-12">
							<div class="imgclass">
							<img src="images/live.png">
							</div>
							<ul>
								<li>Pages designed</li>
								<li>Lego guidelines implemented</li>
								<li>Assets integrated</li>
								<li>Responsive design completed</li>
							</ul>
						</div>
						</div>
						<div class="col-md-7 DevStatus">
						<h4>{{Analytics}}</h4>
						<div class="col-md-12 chartimg">
						<canvas id="canvas" height="300" width="600"></canvas>
			<!-- 	<canvas id="myChart" width="400" height="400"></canvas> -->
				 
							<!-- <img src="images/chart.png"> -->
							
						</div>
						</div>
				</div>
        </div>	<!-- Modal-Body Ends-->
        <div class="modal-footer modalfooter">
          <button type="button" class="btn btn-primary" ng-click="cancel()" data-dismiss="modal">Close</button>
        </div>	  <!-- Modal-Footer Ends-->
      </div>	<!-- ModalContent Ends -->
	  </div>		<!-- ModalLayout Endss -->
	</script>

  <script type="text/ng-template" id="RequestModalContent">
				<div class="modal-content" id="newrequest">
					<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
				<h4 class="modal-title" id="myModalLabel">
					Request New Campaign
				</h4>
			       </div>
			<div class="modal-body">		   
				<form role="form" class="form-inline" name="NewCampaignForm" nonvalidate>
					<div class="form-group">
						<label for="camp_name">Campaign Name<sup class="red">&lowast;</sup></label>
						<div>
							<input class="form-control controls-width" type="text" ng-model="camp_name" id="camp_name" name="Campaign_name" maxlength="50" tabindex="0" required>  
						</div>
					</div>
					
					<div class="form-group ang-datepicker">
						<label for="prod_date">Due Date</label>
						<div>
						 <input class="form-control controls-width" type="text" id="rDueDate" datepicker-popup="{{format}}" ng-model="Due_Date" is-open="OpenDs" min-date="minDueDate" max-date="maxDueDate" ng-click="openCal($event)" ng-change="enablLaunchDate()" placeholder="yyyy-mm-dd" readonly />
						</div>
					</div>
					<!-- <div class="form-group">
						<label for="description">Description</label>
						<div>
							<textarea class="form-control controls-width" ng-model="proj_description" id="description" ></textarea>
							
						</div>
					</div> -->
					
					<div class="form-group ang-datepicker">
						<label for="prod_date">Launch Date</label>
						<div>
						 <input class="form-control controls-width" type="text" id="rLaunchDate" datepicker-popup="{{format}}" ng-model="Prod_Date" is-open="openIt" min-date="minDate" ng-click="open($event)" ng-change="EnableExitDate()" placeholder="yyyy-mm-dd" readonly />
       			  
						</div>
					</div>
					
					<!-- <div class="form-group ang-datepicker">
						<label for="prod_date">Production Date</label>
						<div>
						 <input class="form-control controls-width" type="text" id="rStartDate" datepicker-popup="{{format}}" ng-model="Prod_Date" is-open="openIt" min-date="minDate" ng-click="open($event)" ng-change="EnableExitDate()" placeholder="yyyy-mm-dd" readonly />
       			  
						</div>
					</div> -->
					<!-- <input class="form-control controls-width" ng-model="Prod_Date" min="{{todayDate}}" type="date" id= "prod_date"> -->
					
					<div class="form-group"> 
						<label for="exit_date">Exit Date</label>
						<div>
							<!-- <input class="form-control controls-width" ng-model="Exit_Date" min="{{todayDate}}" type="date" id="exit_date"> -->
							<input class="form-control controls-width" type="text" id="rExitDate" datepicker-popup="{{format}}" ng-model="Exit_Date" is-open="openThis" min-date="ExitMinDate" ng-click="opened($event)" ng-disabled="DisableDate" placeholder="yyyy-mm-dd" readonly />
						</div>
					</div>
					
					<div class="form-group">
						<label for="estimate">Estimate Hours (In Digits)</label>
						<div>
							<input class="form-control controls-width" onpaste="return false;" ondrop = "return false;" ng-model="New_Estimate" type="text" numbers-only="numbers-only" id="estimate">
						</div>
					</div>
					
					<div class="form-group">
						<label for="market">Market<sup class="red">&lowast;</sup></label>
						<div>
						
						<input class="form-control controls-width" type="text" ng-model="marketListSelected" id="newmarket" ng-pattern="/^[a-zA-Z\s]*$/" name="marketfield" ng-class="{'show-error' : NewCampaignForm.marketfield.$dirty && NewCampaignForm.marketfield.$invalid}" placeholder="Market" maxlength="30" required> 
						
							<!-- <select class="form-control controls-width" ng-model="marketListSelected" ng-options="item.name as item.name for item in MarketList" ng-change="clickmarket()">
								<option value=''>--- Select Market ---</option>
							</select> -->
							<!-- <input list="market_list" class="form-control controls-width" ng-model="marketList" id="market" required>
							<datalist id="market_list">
								<option>Europe</option>
								<option>Asia</option>												  
							</datalist>		 -->										
						</div>
					</div>
					
					<div class="form-group">
						<label for="host_plat">Platform</label>
						<div>
				<select class="form-control controls-width" ng-model="New_Platform" ng-options="item.name as item.name for item in PlatformList" ng-change="clickme()">
				<option value=''>--- Select Platform ---</option>
				</select>
						
							<!-- <input list="platform" class="form-control controls-width" ng-model="New_Platform" id="host_plat" required>
							<datalist id="platform">
							  <option>Static</option>
							  <option>PimCore</option>
							  <option>SiteCore</option>
							</datalist> -->
						</div>
					</div>
					
					<div class="form-group">
						<label for="producer">Producer<sup class="red">&lowast;</sup></label>
						<div>						
							<input  class="form-control controls-width" ng-model="New_Producer" maxlength="30" id="producer" ng-pattern="/^[a-zA-Z\s]*$/" name="producerfield" ng-class="{'show-error' : NewCampaignForm.producerfield.$dirty && NewCampaignForm.producerfield.$invalid}" placeholder="Producer" required>
							<!-- <datalist id="producer_list">
							auto-complete ui-items="ProducerList"
							  <option>Jeanett Buch</option>
							  <option>Mia Jappe</option>												 
							</datalist>  -->                                        
						</div>
					</div>
					
					<div class="form-group">
						<label for="url">Live URL</label>
						<div>
							<input class="form-control controls-width" ng-model="New_url" type="text" placeholder="Live URL" id="url">
						</div>
					</div>

					<div class="form-group">
						<label for="acronis-url">Acronis Link</label>
					<div>
							<input class="form-control controls-width" ng-model="New_Alink" placeholder="Acronis Link" type="text" id="acronis-url">
						</div>
					</div>
					
					<div class="form-group">
						<label for="description">Description</label>
						<div>
							<textarea class="form-control controls-width" ng-model="proj_description" id="description" row="2" cols="22" ></textarea>
							
						</div>
					</div>
					
<!-- 					<div class="form-group">
						<label for="acronis-url">Image Name</label>
					<div>
							<input class="form-control controls-width" ng-model="CampaignImage" placeholder="Image Link" type="text" id="image-url" ng-click="ImageSelection('lg')" readonly>
						</div>
					</div> -->
					
					<!-- <div class="form-group">
						<label for="img-url" class="bttn-margin">Choose Image  <button type="button" class="btn btn-default btn-sm" ng-click="ImageSelection('lg')">
          <span class="glyphicon glyphicon-tag"></span>
        </button></label>
					<div>
							<input class="form-control controls-width" ng-model="CampaignImage" type="text" id="img-url">
						</div>
					</div> -->
				</form>
			</div><!-- /.modal-body -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="genCampaign()" ng-disabled="NewCampaignForm.$invalid">Submit Details</button>
			</div>
		</div><!-- /.modal-content -->
	</script>
	
	<script type="text/ng-template" id="ImageModalContent">
	
		<div class="modal-content">
			<div class="modal-header">
			
				<button type="button" class="close" ng-click="cancelModal('lg')">&times;</button>
				<h4 class="modal-title">
					<div class="row">
						<div class="col-md-10">
								Select an Image    
								<span class="selectedText"> {{imgselect}} </span>
						</div>
						<div class="col-md-1">
								<button type="button" class="btn btn-primary" ng-click="SelectImgModal()" ng-disabled="imgselect==''">Select</button>
						</div>
					</div>  <!-- row -->
				</h4>
			</div>
			<div class="modal-body">		
			<form class="form-horizontal"> 
			<div class="row imgmodal">
				<div ng-repeat="y in ImageUrLData">
					<div class="col-md-3">
									<div class="imgborder">
											<div  ng-class="{'selectedImage': $index==selected}">
										<label><img src="{{y.url}}" ng-click="selImage(y,$index)" ></label>
										</div>
									</div>
											
					</div>		
				</div>
				
			</div>	<!-- row Ends -->
			</form>
				<div class="clear"></div>
			</div>		<!-- Modal Body Ends -->
		</div>		<!-- Modal Content Ends -->
	
	</script>
	
	
	<script type="text/ng-template" id="ActionModalContent">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancelModal('lg')" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" id="myModalLabel">
					Add Procurement Details
				</h4>
			</div>
			<div class="modal-body">		
			<form class="form-horizontal" name="ProcurementForm" nonvalidate> 
				<div class="col-md-12 col-xs-12">
					  <div class="form-group">
					    <label for="fields1" class="col-md-4 control-label">AWS Account Link<sup class="red">&lowast;</sup></label>
					    <div class="col-md-8">
					      <input type="text" class="form-control  awsaccount" ng-model="AwsLink" id="fields1" tabindex="0" required>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="field2" class="col-md-4 control-label">Username<sup class="red">&lowast;</sup></label>
					    <div class="col-md-8">
					      <input type="text" class="form-control awsusername" ng-model="Proc_Username" id="fields2" required>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="field3" class="col-md-4 control-label">Password<sup class="red">&lowast;</sup></label>
					    <div class="col-md-8">
					      <input type="password" class="form-control awspass" ng-model="Proc_Pass" id="fields3" required>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="field4" class="col-md-4 control-label">Live CNAME</label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" ng-model="Proc_Live_Name" id="fields4" placeholder="Live CNAME">
					    </div>
					  </div>
					   <div class="form-group">
					    <label for="field5" class="col-md-4 control-label">Live ELastic IP</label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" ng-model="Proc_Elastic" id="fields5" placeholder="Live ELastic IP">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="field6" class="col-md-4 control-label">QA CNAME</label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" ng-model="Proc_Cname" id="fields6" placeholder="QA CNAME">
					    </div>
					  </div>
					   <div class="form-group">
					    <label for="fields7" class="col-md-4 control-label">QA Elastic IP</label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" ng-model="Proc_ElasticIP" id="fields7" placeholder="QA Elastic IP">
					    </div>
					  </div>
					  <div class="form-group">
					   		<button type="button" class="btn btn-success flr" ng-click="addProcurement()" ng-disabled="ProcurementForm.$invalid">Add</button>	
					  </div>
					</div>
					
				</form>
				<div class="clear"></div>
			</div>	<!-- modal-header -->
		</div> <!-- modal-content -->
	</script>
	
	<script type="text/ng-template" id="DeployModalContent">
	
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancelModal('lg')" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" id="myModalLabel">
					Add Deployment Details
				</h4>
			</div>
			<div class="modal-body">		
			<form class="form-horizontal clearfix" name="DeployCampaignForm" nonvalidate> 
				<div class="col-md-12 col-xs-12">
					  <div class="form-group">
					    <label for="fields1" class="col-md-4 control-label">Deployment Date<sup class="red">&lowast;</sup></label>
					    <div class="col-md-8">
<!-- 					      <input class="form-control controls-width" type="date" ng-model="DeploymentDate" id="deployment_date" min="{{todayDate}}" tabindex="0" required> -->

<input class="form-control controls-width" type="text" datepicker-popup="{{format}}" ng-model="DeploymentDate" is-open="openDepCal" min-date="MinDeployDate" ng-click="openDeployDate($event)" placeholder="yyyy-mm-dd"  tabindex="0" id="deployment_date" readonly />
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="field2" class="col-md-4 control-label">Deployment Slot (IST)<sup class="red">&lowast;</sup></label>
					    <div class="col-md-8">
						<select class="form-control controls-width" ng-model="DeploymentSlot" ng-options="item.name as item.name for item in SlotList" ng-change="changedSlot()">
								<option value=''>--- Select Slot ---</option>
						</select>
						<!-- <input list="producer_list" class="form-control controls-width" ng-model="DeploymentSlot" id="producer" required>
							<datalist id="producer_list">
							  <option>0800HRS-1100HRS</option>
							  <option>1500HRS-1800HRS</option>												 
							</datalist>    -->
					
					    </div>
						</div>
						<div class="form-group">
					    <label for="field3" class="col-md-4 control-label">Environment<sup class="red">&lowast;</sup></label>
					    <div class="col-md-8">
						
						<select class="form-control controls-width" ng-model="Environment" ng-options="item.name as item.name for item in EnvList" ng-change="changedEnv()">
								<option value=''>--- Select Environment ---</option>
						</select>
						
						<!-- <input list="producer_list1" class="form-control controls-width" ng-model="Environment" id="producer1" required>
							<datalist id="producer_list1">
							  <option>Live</option>
							  <option>QA</option>							 											 
							</datalist>   --> 
					
					    </div>
					  </div>
				
						<div class="form-group">
					    <label for="field4" class="col-md-4 control-label">Priority<sup class="red">&lowast;</sup></label>
					    <div class="col-md-8">
						
						<select class="form-control controls-width" ng-model="Priority" ng-options="item.name as item.name for item in PriorityList" ng-change="changedPri()">
								<option value=''>--- Select Priority ---</option>
						</select>
						
						<!-- <input list="priority-list" class="form-control controls-width" ng-model="Priority" id="priority" required>
							<datalist id="priority-list">
							  <option>LOW</option>
							  <option>HIGH</option>							 											 
							</datalist>   --> 
					
					    </div>
					  </div>
					  <div class="form-group">
					   		<button type="button" class="btn btn-success flr"  ng-click="deployRequest()" ng-disabled="DeployCampaignForm.$invalid">Add</button>
							<input type="hidden" id="hdnDeploymentProjectId" />
							<input type="hidden" id="hdnDeploymentProjectName" />
					  </div>
					</div>
					
				</form>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	
	</script>
	
	<script type="text/ng-template" id="UpdateModalContent">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="cancelModal('lg')">&times;</button>
				<h4 class="modal-title" id="myModalLabel">
				Update Campaign Details
				</h4>
			</div>
			<div class="modal-body">		
			<form class="form-horizontal" name="UpdateCampaignForm" nonvalidate> 
				<div class="col-md-12 col-xs-12">
					  <div class="form-group">
					    <label for="fields1" class="col-md-4 control-label">Campaign Name <sup class="red">&lowast;</sup></label>
					    <div class="col-md-8">
	<input type="text" class="form-control" id="fldCampaignName" value={{CampaignName}} ng-model="CampaignName" placeholder="CampaignName" maxlength="50" tabindex="0" required >
					    </div>
					  </div>
					  <div class="form-group" ng-show="DisplayStartDate">
					    <label for="field2" class="col-md-4 control-label">Start Date</label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" ng-model="DateDev" id="fldStartDate" placeholder="yyyy-MM-dd" ng-disabled="true">
						  <!-- <input class="form-control" type="text" value={{DevDate}} datepicker-popup="{{format}}" ng-model="DevDate" is-open="openDevCal" min-date="MinDevDate" show-button-bar="false" ng-click="openDevDate($event)" placeholder="yyyy-MM-dd"/> -->
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="field3" class="col-md-4 control-label">Launch Date</label>
					    <div class="col-md-8">
					      <!-- <input type="text" class="form-control" value={{LaunchDate}} ng-model="LaunchDate" id="fldLaunchDate" placeholder="LaunchDate"> -->
						  <input class="form-control" type="text" id="uLaunchDate" datepicker-popup="{{format}}" ng-model="DateLaunch" is-open="openLaunchCal" min-date="MinDevDate" max-date="maxLaunchDate" max show-button-bar="false" ng-click="openLaunchDate($event)" placeholder="yyyy-MM-dd" name="UpdateLaunch" ng-change="DisplayLDate()" readonly>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="field4" class="col-md-4 control-label">Exit Date</label>
					    <div class="col-md-8">
					     <!--  <input type="text" class="form-control" value={{Exit}} ng-model="Exit" id="fldExit" placeholder="Exit"> -->
						 <input class="form-control" type="text" id="uExitDate" datepicker-popup="{{format}}" ng-model="UpdateFormExit" is-open="openExitCal" min-date="MinExitDate" show-button-bar="false" ng-click="openExitDate($event)" placeholder="Exit Date" ng-change="DisplayDate()" readonly>
					    </div>
					  </div>
					   <div class="form-group">
					    <label for="field5" class="col-md-4 control-label">Estimate (Hours)</label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" value=DK{{estimateTime}} ng-model="estimateTime" id="fldEstimate" placeholder="Estimated Hours">
					    </div>
					  </div>

					   <div class="form-group">
					    <label for="fields7" class="col-md-4 control-label">Producer <sup class="red">&lowast;</sup></label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" ng-model="Producer" id="fldProducer" placeholder="Producer" ng-pattern="/^[a-zA-Z\s]*$/" name="UpdateProducer" required >
					    </div>
					  </div>
					  
					  <div class="form-group" >
					    <label for="fields7" class="col-md-4 control-label">Market <sup class="red">&lowast;</sup></label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" ng-model="Market" id="fldMarket" placeholder="Market" ng-pattern="/^[a-zA-Z\s]*$/" name="UpdateMarket" maxlength="30" required >
					    </div>
					  </div>
					  
					  <div class="form-group">
					    <label for="fields7" class="col-md-4 control-label">Platform <sup class="red">&lowast;</sup></label>
					    <div class="col-md-8">
					     <!--  <input type="text" class="form-control" value={{Platform}} ng-model="Platform" id="fldPlatform" placeholder="Platform" required> -->
						 <select class="form-control controls-width" ng-model="Platform" ng-options="item.name as item.name for item in PlatformList" ng-change="clickon()" name="UpdatePlatform" required>
				</select>
						 
					    </div>
					  </div>
					  
					  <div class="form-group">
					   		<button type="button" class="btn btn-success flr" ng-Click="updateCampaign()" ng-disabled=" UpdateCampaignForm.UpdateMarket.$invalid || UpdateCampaignForm.UpdatePlatform.$invalid || UpdateCampaignForm.UpdateProducer.$invalid">Update</button>
					  </div>
					</div>
					
				</form>
				<div class="clear"></div>
			</div>
		</div>
	</script>
	
	<script type="text/ng-template" id="SecurityModalContent">
	
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="cancelModal('lg')">&times;</button>
				<h4 class="modal-title" id="myModalLabel">
					Security Alert
				</h4>
			</div>
			<div class="modal-body">		
			<form class="form-horizontal"> 
				<div class="col-md-12 col-xs-12">
					  Are You Sure to Start Security Scan ?
				</div>
					 <div  class=" btn-position">
					 
					   		<button type="button" class="btn btn-success" ng-disabled="true">Yes</button>				
					   		<button type="button" class="btn btn-success" ng-click="cancelModal('lg')">No</button>
					
					  </div>
				</form>
				<div class="clear"></div>
			</div>
		</div>
	
	</script>
		
		<script type="text/ng-template" id="ApproveModalTemplate">
	
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="cancelModal('lg')">&times;</button>
				<h4 class="modal-title" id="myModalLabel">
					Approve: <span class="selectedText">{{CampaignName}}</span>  
				</h4>
			</div>
			<div class="modal-body">		
			<form class="form-horizontal" name="approveform" nonvalidate> 
		<div class="col-md-12 text-area"> <textarea class="col-md-12" id="text-comment" type="text" rows="4" cols="30" ng-model="Approvecmt" name="commentarea" required></textarea></div>
		
		<div class="clear"></div>
				

					 <div class="approve-btn">
					   		<button class="btn btn-success" ng-disabled="CommentBtn || approveform.commentarea.$invalid" ng-click="approveEst()">Submit</button>			
					   		<button type="button" class="btn btn-success" ng-click="cancelModal('lg')">Close</button>
					</div>
				
			</form>	
			</div>
		</div>
	
	</script>
		
		<script type="text/ng-template" id="EstimateModalTemplate">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancelModal('lg')" >&times;</button>
				<h4 class="modal-title estHeading" id="myModalLabel" >
					<span class="selectedText">{{CampaignName}}</span>  : Estimate
				</h4>
			</div>
			
			<div class="modal-body">	
				<div role="tabpanel" class="tabpanel">
									<ul class="nav nav-tabs" role="tablist">
                                       <li class="active" role="presentation"><a href=""  role="tab" data-toggle="tab" ng-click="tabShower('EstimatD')">Estimate Details</a></li>
                                       <li role="presentation"><a href="" role="tab" data-toggle="tab" ng-click="tabShower('Comment')">Comments</a></li>
                                    </ul>
									
				</div>  <!-- TabPanels div Ends -->	
					<div role="tabpanel" class="tab-pane active"  ng-show="tabShowerChk=='EstimatD'">
							<form class="form-horizontal" name="EstimateForm" nonvalidate> 
					<div class="col-md-12 col-xs-12">
										<div class="form-group col-md-6">
											<div class="col-md-6">
											</div>
											<div class="col-md-6 ">
													<div class="col-md-6">
														Hrs
													</div>
													<div class="col-md-6">
														DKK(cost)
													</div>
											</div>
										</div>
										<div class="col-md-6 form-group">
												<div class="col-md-6">			
												</div>
											<div class="col-md-6 padding-label">
													<div class="col-md-6" >
															Hrs
													</div>
													<div class="col-md-6">
															DKK(cost)
													</div>
											</div>
										</div>
			
					<div class="form-group col-md-6">
					    <label for="estRate" class="col-md-6 control-label">Rate(DKK)</label>
					    <div class="col-md-3">
					      <input maxlength="50" type="text" class="form-control estfields" id="estRate" maxlength="50" value="1" readonly>
					    </div>
						<div class="col-md-3">
					      <input maxlength="50" type="text" class="form-control estfields" id="estRateCost" maxlength="50" ng-model="RateCost" numbers-only="numbers-only" onpaste="return false;"  ondrop = "return false;">
					    </div>
					</div>
					
					<div class="form-group col-md-6">
					    <label for="estAccount" class="col-md-6 control-label">Account Management</label>
					    <div class="col-md-3">
					      <input maxlength="50" type="number" class="form-control estfields" id="estAccount" maxlength="50" placeholder="Hrs" min="0" ng-model="AccountDigit" ng-change="CalcTotal()" onpaste="return false;" ondrop = "return false;">	
					    </div>
						
						 <div class="col-md-3"> 
								<input maxlength="50" type="text" class="form-control estfields" value="{{RateCost*AccountDigit}}" id="estAccountCost" maxlength="50" readonly >
					    </div>
					</div>
					
					<div class="form-group col-md-6" >
					    <label for="estProducermgr" class="col-md-6 control-label">Project Manager <sup class="red">&lowast;</sup></label>
							<div class="col-md-3">
							  <input type="number" min="0" class="form-control estfields" id="estProjectMgr" ng-model="ProjectManager"  onpaste="return false;" ng-change="CalcTotal()"  ondrop = "return false;" placeholder="Hrs" name="ProjectMgr" required >
							</div>
							<div class="col-md-3">
							  <input type="text" class="form-control estfields" id="estProjectMgrCost" value="{{RateCost*ProjectManager}}" readonly>
							</div>
					</div>
					  
					<div class="form-group col-md-6">
					    <label for="estProducer" class="col-md-6 control-label">Producer</label>
					    <div class="col-md-3">
					      <input type="number" class="form-control estfields" min="0" id="estProducer" ng-model="EstProducer" onpaste="return false;" ng-change="CalcTotal()"  ondrop = "return false;" placeholder="Hrs">
					    </div>
						
						<div class="col-md-3">
					      <input type="text" class="form-control estfields" id="estProducerCost" value="{{RateCost*EstProducer}}"  readonly>
					    </div>
					</div>
					
					<div class="form-group col-md-6">
					    <label for="estUX" class="col-md-6 control-label">UX (Wireframes) </label>
					
						<div class="col-md-3">
					      <input type="number" class="form-control calc estfields" min="0" ng-change="CalcTotal()" id="estUX" ng-model="Wireframes" onpaste="return false;"  ondrop = "return false;" placeholder="Hrs">
					    </div>
						
						<div class="col-md-3">
					      <input type="text" class="form-control estfields" id="estUXCost" value="{{RateCost*Wireframes}}"  readonly>
					    </div>
					</div>
					
					<div class="form-group col-md-6">
					    <label for="estDesign" class="col-md-6 control-label">Design Assistance</label>
					    <div class="col-md-3">
					      <input type="number" class="form-control calc estfields" min="0" ng-change="CalcTotal()" id="estDesign" onpaste="return false;"  ondrop = "return false;" placeholder="Hrs" ng-model="EstAssistance">
					    </div>
						<div class="col-md-3">
					      <input type="text" class="form-control estfields" id="estDesignCost" value="{{RateCost*EstAssistance}}" readonly>
					    </div>
					</div>
					  
					<div class="form-group col-md-6">
					    <label for="estDev3" class="col-md-6 control-label">3D Development </label>
					    <div class="col-md-3">
					      <input maxlength="30" type="number" class="form-control calc estfields" min="0" ng-change="CalcTotal()" id="estDev3" ng-model="EsttDevelopment" onpaste="return false;"  ondrop = "return false;" placeholder="Hrs">
						</div>
						<div class="col-md-3">
					      <input maxlength="30"   type="text" class="form-control estfields" id="estDev3Cost"  value="{{RateCost*EsttDevelopment}}" readonly>
					    </div>
					</div>
					  
					<div class="form-group col-md-6">
					    <label for="estDevelopment" class="col-md-6 control-label">Development <sup class="red">&lowast;</sup></label>
					    <div class="col-md-3">
					      <input   maxlength="30" type="number" class="form-control calc estfields" min="0" ng-change="CalcTotal()" id="estDevelopment" ng-model="EstDevelopment" onpaste="return false;"  ondrop = "return false;" placeholder="Hrs" name="DevField" required>
					    </div>
						 <div class="col-md-3">
					      <input   maxlength="30" type="text" class="form-control estfields" id="estDevelopmentCost" value="{{RateCost*EstDevelopment}}" readonly>
					    </div>
					</div>
					  
					  
					<div class="form-group col-md-6">
					    <label for="estQA" class="col-md-6 control-label">QA  <sup class="red">&lowast;</sup></label>
					    <div class="col-md-3">
					      <input   maxlength="30" type="number" class="form-control calc estfields" id="estQA" ng-model="EstQA" onpaste="return false;" min="0" ng-change="CalcTotal()" ondrop = "return false;" placeholder="Hrs" name="QAField" required>
					    </div>
						<div class="col-md-3">
					      <input   maxlength="30" type="text" class="form-control estfields" id="estQACost" value="{{RateCost*EstQA}}"  readonly>
					    </div>
					</div>
					  
					<div class="form-group col-md-6">
					    <label for="estMaintenance" class="col-md-6 control-label">Maintenance</label>
					    <div class="col-md-3">
					      <input   maxlength="30" type="number" min="0" ng-change="CalcTotal()" class="form-control calc estfields" id="estMaintenance" ng-model="EstMaintenance"  onpaste="return false;"  ondrop = "return false;" placeholder="Hrs">
					    </div>
					    <div class="col-md-3">
					      <input   maxlength="30" type="text" class="form-control estfields" id="estMaintenanceCost"  value="{{RateCost*EstMaintenance}}" readonly>
					    </div>
					</div>
					  
					<div class="form-group col-md-6">
					    <label for="estSetup" class="col-md-6 control-label">Setup & Deployment  <sup class="red">&lowast;</sup></label>
					    <div class="col-md-3">
					      <input   maxlength="30" type="number" min="0" ng-change="CalcTotal()" class="form-control calc estfields" id="estSetup" ng-model="EstSetup" onpaste="return false;"  ondrop = "return false;" placeholder="Hrs" name="SetupField" required >
					    </div>
						
     					<div class="col-md-3">
					      <input   maxlength="30" type="text" class="form-control estfields" id="estSetupCost"  value="{{RateCost*EstSetup}}" readonly>
					    </div>
					</div>
					  
					<div class="form-group col-md-6">
					    <label for="estHostcost" class="col-md-6 control-label">Amazon Hosting Cost  </label>
					    <div class="col-md-3">
					      <input   maxlength="30" type="number" min="0" ng-change="CalcTotal()" class="form-control calc estfields" id="estHost" ng-model="EstAmazon" onpaste="return false;"  ondrop = "return false;" placeholder="Hrs">
					    </div>
						
						  <div class="col-md-3">
					      <input   maxlength="30" type="text" class="form-control estfields" id="estHostCost" value="{{RateCost*EstAmazon}}" readonly >
					    </div>
					</div>
					 
					<div class="form-group col-md-6">
					    <label for="estoutofpocket" class="col-md-6 control-label">Out of Pocket </label>
					    <div class="col-md-3">
					      <input   maxlength="30" type="number" min="0" ng-change="CalcTotal()" class="form-control calc estfields" id="estoutofpocket" ng-model="EstOutofPocket"  onpaste="return false;"  ondrop = "return false;" placeholder="Hrs">
					    </div>
						 <div class="col-md-3">
					      <input   maxlength="30" type="text" class="form-control estfields" id="estoutofpocketCost" value="{{RateCost*EstOutofPocket}}"  readonly>
					    </div>
					</div>
					  
					<div class="form-group col-md-6">
					    <label for="estother" class="col-md-6 control-label">Other</label>
					    <div class="col-md-3">
					      <input   maxlength="30" type="number" min="0" ng-change="CalcTotal()" class="form-control calc estfields" id="estother" ng-model="EstOther" onpaste="return false;"  ondrop = "return false;" placeholder="Hrs">
					    </div>
						 <div class="col-md-3">
					      <input   maxlength="30" type="text" class="form-control estfields" id="estotherCost" value="{{RateCost*EstOther}}" readonly>
					    </div>
					</div>
					  
				    <div class="form-group col-md-6">
					    <label for="esttotal" class="col-md-6 control-label">Total</label>
					    <div class="col-md-3">
					      <input   maxlength="30" type="text" class="form-control estfields" id="esttotal"  ng-model="EstTotal" placeholder="Hrs" readonly >
					
					    </div>
						<div class="col-md-3">
					      <input   maxlength="30" type="text" class="form-control estfields" id="esttotalCost" ng-model="EstTotalCost" readonly >
					
					    </div>
					</div>
					  
					<div class="form-group col-md-6">
					   <label for="estrisk" class="col-md-6 control-label">Risk(+/- %)</label>
					    <div class="col-md-3">
					      <input   maxlength="30" type="number" class="form-control estfields" id="estrisk" ng-model="EstRisk" onpaste="return false;" min="0"  ng-change="CalcTotal()" ondrop = "return false;" placeholder="%">
					    </div>
						 <div class="col-md-3">
					      <input   maxlength="30" type="text" class="form-control estfields"  ng-model="EstRiskCost" id="estriskCost" readonly >
					    </div>
			    	</div>
					  	  
					<div class="form-group col-md-6">
						<label for="estcomment" class="col-md-6 control-label">Comment</label>
						<div class="col-md-6">
							<textarea class="form-control controls-width" id="estcomment" ng-model="EstComment" placeholder="Comment" rows="2" cols="50"></textarea>
						</div>
					</div>
					
					<div class="form-group col-md-3">
					   		<button type="button" class="btn btn-success flr" ng-disabled=" EstimateForm.SetupField.$invalid || EstimateForm.QAField.$invalid || EstimateForm.DevField.$invalid || EstimateForm.ProjectMgr.$invalid" ng-click="updateEstimate()">Update</button>
					</div>
					<div class="col-md-3">
							<button type="button" class="btn btn-info">Export</button>
					</div>
					</div>	<!-- Col-md-12 Ends -->
					
			</form>
					</div>
					<div role="tabpanel" ng-cloak class="tab-pane "  ng-show="tabShowerChk=='Comment'">
	<div role="tabpanel" class="tab-pane " id="comment_estimate"  >
	<form class="form-horizontal" name="CommentForm" nonvalidate> 
		<div class="col-md-9 text-area"> <textarea class="col-md-12" id="text-comment" type="text" rows="4" cols="30" ng-model="EstDesc" name="commentarea" required></textarea></div>
		<div class="col-md-3 commnt-box"> <button class="btn btn-success" ng-disabled="CommentBtn || CommentForm.commentarea.$invalid" ng-click="postEstComment()">Comment</button></div>
		</form>
				<div ng-repeat="y in EstComments">
				<div class="col-md-12 comment-div">
					<span class="col-md-9 comment-user">{{y.user_name}}</span>
					<span class="col-md-3"> {{y.created_on}} </span>
					<div class="col-md-12 comment-notes">
						{{y.notes}}
					</div>
				</div>	
				<br>
				</div>
		 <div class="clear:both"></div>
		 </div>
    </div>
					
				<div class="clear"></div>
				
			</div>		<!-- Modal Body Ends -->
			
		</div>		<!-- Modal Content Ends -->	
		</script>
				
		
	<div class="modal fade" id="TestmyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-toggle="modal" data-target="#TesttomyModal" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        
          
          <a class="custom-close"> My Custom Close Link </a>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#TesttomyModal" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	
	<div class="modal fade" id="TesttomyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        
         <button type="button" class="btn btn-default" data-toggle="modal" data-target="#TestmyModal" data-dismiss="modal" aria-hidden="true">Link</button>
          <a class="custom-close"> My Custom Close to Link </a>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	
  </div>  <!-- Controller -->
  
  
	
  <!-- JavaScript -->
  <!-- <script src= "js/angular.min.js"></script> -->
  <script src= "js/Chart.js"></script>
  <!-- <script src="js/angular.min.js"></script> -->
  <script src="js/angular.js"></script>
  <script src="js/angular-resource.min.js"></script>
  <script src="js/dist/angular-chart.js"></script>
  <script src="js/jquery.min.js"></script> 
  <script src="js/bootstrap.min.js"></script> 
  <script src="js/jquery-1.11.1.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jscript.func.js"></script>
  <script src="js/ui-bootstrap-tpls-0.13.0.js"></script>
  <script src="js/bootstrap-select.min.js"></script>
  <script src="js/ohsnap.js"></script>
  <script src="js/constants.js"></script>
  <script src="js/namesController.js"></script>
  <script src="js/jscript.js"></script>
  </body>
  </html>
  