<div class="modalLayout">
	<div class="modal-content modal-lg">
        <div class="modal-header modalheader">
          <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>

          <h4 class="modal-title title-style"> Add Feature</h4>		
				<!-- btn-group -->					
		</div>	<!-- Modal Header Ends -->
        
		<div class="modal-body ">
	
			<form class="form-horizontal"> 
				<div class="col-md-12 col-xs-12">
					  <div class="form-group">
					    <label for="sub" class="col-md-4 control-label">Subject<sup class="required-field">&lowast;</sup></label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" ng-model="subject" id="sub" required>
					    </div>
					  </div>
					   <div class="form-group">
					    <label for="description" class="col-md-4 control-label">Description</label>
					    <div class="col-md-8">
						<textarea class="form-control controls-width ng-pristine ng-valid ng-touched" id="description" ng-model="description" >
						</textarea>
					    
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="status" class="col-md-4 control-label">Status<sup class="required-field">&lowast;</sup></label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" ng-model="statusnew" id="status"  readonly>
					    </div>
					  </div>
					  
		<div class="form-group">
					    <label for="type" class="col-md-4 control-label">Type<sup class="required-field">&lowast;</sup></label>
					    <div class="col-md-8 option-format" >
						<select >
  <option value="0" ng-model="type">Feature</option>
  <option value="1" ng-model="type">Feedback</option>
 
</select>
					    <!--   <input type="text" class="form-control" ng-model="type" id="type" required> -->
					    </div>
					  </div>
		</div>
		</form>
		</div>
			<!-- Modal-Body Ends-->
        <div class="modal-footer modalfooter">
          <button type="button" class="btn btn-primary" ng-click="add()" data-dismiss="modal">Add</button>
		   <button type="button" class="btn btn-primary" ng-click="cancel()" data-dismiss="modal">Close</button>
        </div>	  <!-- Modal-Footer Ends-->
      </div>	<!-- ModalContent Ends -->
	  </div>