
				<div class="modal-content" id="newrequest">
					<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
				<h4 class="modal-title" id="myModalLabel">
					Request New Campaign
				</h4>
			       </div>
			<div class="modal-body">		   
				<form role="form" class="form-inline">
					<div class="form-group">
						<label for="camp_name">Campaign Name<sup class="required-field">&lowast;</sup></label>
						<div>
							<input class="form-control controls-width" type="text" ng-model="camp_name" id="camp_name" ng-blur="Onfocusout()">
						</div>
					</div>
					
					<div class="form-group">
						<label for="description">Description<sup class="required-field">&lowast;</sup></label>
						<div>
						<textarea class="form-control controls-width" ng-model="proj_description" id="description" required></textarea>
							
						</div>
					</div>
					
					<div class="form-group">
						<label for="prod_date">Production Date<sup class="required-field">&lowast;</sup></label>
						<div>
							<input class="form-control controls-width" ng-model="Prod_Date" type="date" id= "prod_date">
						</div>
					</div>
					
					<div class="form-group">
						<label for="exit_date">Exit Date</label>
						<div>
							<input class="form-control controls-width" ng-model="Exit_Date" type="date" id="exit_date">
						</div>
					</div>
					
					<div class="form-group">
						<label for="estimate">Estimate<sup class="required-field">&lowast;</sup></label>
						<div>
							<input class="form-control controls-width" onpaste="return false;" ondrop = "return false;" ng-model="New_Estimate" type="text" id="estimate">
						</div>
					</div>
					
					<div class="form-group">
						<label for="market">Market<sup class="required-field">&lowast;</sup></label>
						<div>
							<input list="market_list" class="form-control controls-width" ng-model="marketList" id="market">
							<datalist id="market_list">
								<option>Europe</option>
								<option>Asia</option>												  
							</datalist>												
						</div>
					</div>
					
					<div class="form-group">
						<label for="host_plat">Platform<sup class="required-field">&lowast;</sup></label>
						<div>
							<input list="platform" class="form-control controls-width" ng-model="New_Platform" id="host_plat">
							<datalist id="platform">
							  <option>Static</option>
							  <option>PimCore</option>
							  <option>SiteCore</option>
							</datalist>
						</div>
					</div>
					
					<div class="form-group">
						<label for="producer">Producer<sup class="required-field">&lowast;</sup></label>
						<div>
							<input list="producer_list" class="form-control controls-width" ng-model="New_Producer" id="producer">
							<datalist id="producer_list">
							  <option>Jeanett Buch</option>
							  <option>Mia Jappe</option>												 
							</datalist>                                         
						</div>
					</div>
					
					<div class="form-group">
						<label for="url">Live URL</label>
						<div>
							<input class="form-control controls-width" ng-model="New_url" type="text" id="url">
						</div>
					</div>

					<div class="form-group">
						<label for="acronis-url">Acronis Link</label>
					<div>
							<input class="form-control controls-width" ng-model="New_Alink" type="text" id="acronis-url">
						</div>
					</div>
					
				</form>
			</div><!-- /.modal-body -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="genCampaign()">Submit changes</button>
			</div>
		</div><!-- /.modal-content -->
