<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="cancelModal('lg')" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" id="myModalLabel">
					Add Deployment Details
				</h4>
			</div>
			<div class="modal-body">		
			<form class="form-horizontal clearfix" name="DeployCampaignForm" nonvalidate> 
				<div class="col-md-12 col-xs-12">
					  <div class="form-group">
					    <label for="fields1" class="col-md-4 control-label">Deployment Date<sup class="required-field">&lowast;</sup></label>
					    <div class="col-md-8">
					      <input class="form-control controls-width" type="date" ng-model="DeploymentDate" id="deployment_date" min="{{todayDate}}" required>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="field2" class="col-md-4 control-label">Deployment Slot (IST)<sup class="required-field">&lowast;</sup></label>
					    <div class="col-md-8">
						<input list="producer_list" class="form-control controls-width" ng-model="DeploymentSlot" id="producer" required>
							<datalist id="producer_list">
							  <option>0800HRS-1100HRS</option>
							  <option>1500HRS-1800HRS</option>												 
							</datalist>   
					
					    </div>
						</div>
						<div class="form-group">
					    <label for="field3" class="col-md-4 control-label">Environment<sup class="required-field">&lowast;</sup></label>
					    <div class="col-md-8">
						<input list="producer_list1" class="form-control controls-width" ng-model="Environment" id="producer1" required>
							<datalist id="producer_list1">
							  <option>Live</option>
							  <option>QA</option>							 											 
							</datalist>   
					
					    </div>
					  </div>
				
						<div class="form-group">
					    <label for="field4" class="col-md-4 control-label">Priority<sup class="required-field">&lowast;</sup></label>
					    <div class="col-md-8">
						<input list="priority-list" class="form-control controls-width" ng-model="Priority" id="priority" required>
							<datalist id="priority-list">
							  <option>LOW</option>
							  <option>HIGH</option>							 											 
							</datalist>   
					
					    </div>
					  </div>
					  <div class="form-group">
					   		<button type="button" class="btn btn-success flr"  ng-click="deployRequest()" >Add</button>
							<input type="hidden" id="hdnDeploymentProjectId" />
							<input type="hidden" id="hdnDeploymentProjectName" />
					  </div>
					</div>
					
				</form>
				<div class="clear"></div>
			</div>
		</div>
	</div>