<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/angular-chart.css">
	  <link rel="stylesheet" href="../css/default.css">
      <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.js"></script>
      <![endif]-->
   </head>
   <body>
      <div ng-app="myApp" ng-controller="detailPageCtrl">
         <div class="wrapper">
            <header>
               <div class="col-md-12">
                  <div class="col-md-4 logo" disabled>
                    <!--  <div id="openNav" disabled></div> -->
                     <h2>Self Service Portal</h2>
                  </div>
                  <div class="col-md-6">
                  </div>
                  <div class="col-md-2 header-right usermenu">
                     <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                           <a href="#" class="dropdown-toggle userheading userName" data-toggle="dropdown" role="button" aria-expanded="false" disabled> Welcome <span class="caret"></span></a>
                           <ul class="dropdown-menu align" role="menu">
                              <!-- <li><a href="javascript:;">Profile</a></li>
                              <li><a href="javascript:;">Settings</a></li>
                              <li><a href="javascript:;">Change Password</a></li> -->
                              <!-- <li class="divider"></li> -->
                              <li><a href="#" ng-click="logout()">Logout</a></li>
                           </ul>
                        </li>
                     </ul>
                  </div>
               </div>
               <!-- col-md-12 -->
            </header>
            <section>
               <div class="container width padding">
                  <div class="row margin-right">
                     <div class="col-md-2 navigation">
                        <ul id="expmenu-freebie">
                           <li>
                              <!-- Start Freebie -->
                              <ul class="expmenu">
                                 <li class="active">
                                    <div class="header">
                                       <span class="label" style="background-image: url(css/ui/pc.png);">Dashboard</span>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="header">
                                       <span class="label" style="background-image: url(css/ui/messages.png);">Messages</span>
                                       <span class="arrow down"></span>
                                    </div>
                                    <ul class="menu" style="overflow: hidden; display: none;">
                                       <li>Notification Settings</li>
                                       <li class="selected">Email Alerts</li>
                                       <li>Privacy Settings</li>
                                    </ul>
                                 </li>
                                 <li>
                                    <div class="header">
                                       <span class="label" style="background-image: url(css/ui/user.png);">User Controls</span>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="header">
                                       <span class="label" style="background-image: url(css/ui/pc.png);">Screen Settings</span>
                                       <span class="arrow down"></span>
                                    </div>
                                    <ul class="menu" style="overflow: hidden; display: none;">
                                       <li>Your settings</li>
                                    </ul>
                                 </li>
                                 <li>
                                    <div class="header">
                                       <span class="label" style="background-image: url(css/ui/search.png);">Search</span>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="header">
                                       <span class="label" style="background-image: url(css/ui/user.png);">Menu Name</span>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="header" id="hidenav">
                                       <span class="label" style="">&lt;&lt; Hide Menu</span>
                                    </div>
                                 </li>
                              </ul>
                              <!-- End Freebie -->
                           </li>
                        </ul>
                     </div>
                     <!-- navigation -->
                     <div class="col-md-10 maincontainer padding">
                        <div class="section-format">
                           <!-- **********Section Header*********************** -->
                           <div class="row margin-right">
                              <!-- first header -->
                              <div class="col-md-12  head-top2">
                                 <div class="col-md-7"></div>
                                 <div class="col-md-5 header-right" >
                                    <div class="actioncenter header-right">
                                       <!-- Split button -->
                                       <div class="btn-group" >
                                          <button type="button" class="btn btn-primary" >Action</button>
                                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                          <span class="caret"></span>
                                          <span class="sr-only">Toggle Dropdown</span>
                                          </button>
                                          <ul class="dropdown-menu" role="menu">
                                             <li><a href="javascript:;"  ng-Click="detailSection(data)">Add Feature</a></li>
                                            <!--  <li><a href="javascript:;">Add Deployment Request</a></li>
                                             <li><a href="javascript:;">Security Scan</a></li> -->
                                          </ul>
                                       </div>
                                       <!-- Split button -->
                                     <!--   <div class="btn-group">
                                          <button type="button" class="btn btn-success">Create New</button>
                                          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                          <span class="caret"></span>
                                          <span class="sr-only">Toggle Dropdown</span>
                                          </button>
                                          <ul class="dropdown-menu" role="menu">
                                             <li><a href="" ng-click="openPopup()" id="request-campaign">Campaign Request</a></li>
                                          </ul>
                                       </div> -->
									   <a type="button" href="http://localhost:3500/cmp_final/dashboard.html" class="btn btn-danger" id="home">Home</a>
                                       <button type="button" class="btn btn-success" id="reloadGrid" ng-click="refreshdetail()">Refresh</button>
                                    </div>
                                    <!-- actioncenter -->
                                 </div>
                                 <!-- col-md-5 -->
                              </div>
                           </div>
                           <!-- first Header Endsss -->
                           <!-- Second header -->
                           <div class="col-md-2 col-sm-12">
                              <div class="col-md-12 col-sm-3 campaign-name-border" >
                                 <img ng-src={{imageSrc}} class="img-width">
                              </div>
                              <div class="col-md-12 col-sm-9" ng-cloak>
                                 <p class="label-format">Start: <span class="data-format" >{{data.development_start_date |dateformat}}</span></p>
                                
                                 <p class="label-format">Launch :  <span class="data-format" >{{data.launch_date | dateformat}} </span></p>
                                 <p class="label-format">Estimate: <span class="data-format"  >{{"DKK"+" "+data.project_cost}}</span></p>
                                 <p class="label-format">Market: <span class="data-format" >{{data.market}}</span></p>
                                 <p class="label-format">Producer: <span class="data-format" >{{data.producer_name}}</span></p>
                                 
                              </div>
                         
                           </div>

                           <div class="col-md-10" >
						   
						    <div class="divOverlay" ng-show="displayOverlay">
								<img src="images/loading.gif">
							  </div>
						   
						   
                              <div  class="col-md-12">
                                 <div class="campaign-name-format " ng-bind="data.name" ></div>
                                 <div role="tabpanel" class="tabpanel">
                                    <ul class="nav nav-tabs" role="tablist">
                                       <li class="active" role="presentation"><a href="" aria-controls="About" role="tab" data-toggle="tab" ng-click="tabShower('about')">About</a></li>
                                       <li role="presentation"><a href="" aria-controls="Details" role="tab" data-toggle="tab" ng-click="tabShower('details')">Procurement Details</a></li>
                                       <li role="presentation"><a href="" aria-controls="feature" role="tab" data-toggle="tab" ng-click="tabShower('feature');dataGrid()">Features</a></li>
                                       <li role="presentation" ><a href="" aria-controls="Conversation" role="tab" data-toggle="tab" ng-click="tabShower('discussion')">Discussion</a></li>
                                       <li role="presentation"><a href="" aria-controls="Service" role="tab" data-toggle="tab" ng-click="tabShower('service')">Service Request</a></li>
                                       <li role="presentation"><a href="" aria-controls="Analytics" role="tab" data-toggle="tab" ng-click="tabShower('analytics')" ng-show="visibleAnalyticTab==true">Analytics</a></li>
                                    </ul>
                                  
                                 </div>
                            


							</div>
                          
 <div role="tabpanel" ng-cloak class="tab-pane active"  ng-show="tabShowerChk=='about'">
<CENTER>UNDER DEVELOPMENT</CENTER>
    </div>
<div role="tabpanel" ng-cloak class="tab-pane "  ng-show="tabShowerChk=='details'">
	<CENTER>UNDER DEVELOPMENT</CENTER>
    </div>
	<div role="tabpanel" ng-cloak class="tab-pane " id="feature" ng-show="tabShowerChk=='feature'">
	<div class="col-md-12" style="padding:0px"> 
	<div class="col-md-4 format-row" >
		<input type="radio" name="opt" ng-click="filterdata('All')" checked=""  >All  &nbsp;&nbsp;
		<input type="radio" name="opt"  ng-click="filterdata('Feature')">Feature &nbsp;&nbsp;
		<input type="radio" name="opt" ng-click="filterdata('Feedback')" >Feedback &nbsp;&nbsp;
		
	</div>
	 <div class="col-md-4 format-row" >

              <label for="search">Search:</label>
              <input ng-model="q" id="search" class="form-control form-control-width" placeholder="Filter text">
            </div>
	<div class="col-md-4" style="padding:0px">
	<div class="btn-group addfeaturebtn">
	
	  <button type="button" class="btn btn-primary" ng-Click="detailSection(data)">Add Feature</button>
</div>
	</div>

	
           
      
</div>

	<table class="datagrid dataTable " style="clear:both;" id="feature-data">
	<thead>
		<tr>
			<th><div class="th-inner">Id</div><div class="fht-cell"></div></th>
			<th><div class="th-inner">Type</div><div class="fht-cell"></div></th>
			<th><div class="th-inner ">Subject</div><div class="fht-cell"></div></th>
			
			<th><div class="th-inner ">Assignee</div><div class="fht-cell"></div></th>
			<th><div class="th-inner ">Created Date</div><div class="fht-cell"></div></th>
			<th><div class="th-inner ">Due date</div><div class="fht-cell"></div></th>
			<th><div class="th-inner ">Priority</div><div class="fht-cell"></div></th>
		</tr>
	</thead>
			<tbody class="table-body " style="clear:both;" dir-paginate="val in featuredata | filter:q | itemsPerPage: pageSize" pagination-id="featurePaginationCtrl" current-page="currentPage" ng-hide="featuredata.length == 0">
			<tr>
			<td><a  ng-click="issuedetail(val)" class="th-inner">{{val.id}}</a><div class="fht-cell"></div></td>
			<td><div class="th-inner">{{val.tracker.name}}</div><div class="fht-cell"></div></td>
			<td class="subject-col-width"><a ng-click="issuedetail(val)" class="th-inner ">{{val.subject}}</a><div class="fht-cell"></div></td>
			
			<td><div class="th-inner ">{{val.author.name}}</div><div class="fht-cell"></div></td>
			<td><div class="th-inner ">{{val.created_on | dateformat}}</div><div class="fht-cell"></div></td>
			<td><div class="th-inner ">{{val.due_date | dateformat }}</div><div class="fht-cell"></div></td>
			<td><div class="th-inner ">{{val.priority.name}}</div><div class="fht-cell"></div></td>
		</tr>
			</tbody>
			<tbody ng-show="featuredata.length == 0">
			<tr>
			<td colspan="7" style="text-align:center">No data available</td>
			</tr>
			</tbody>
		</table>	
   
<div class="col-md-3">
              <label for="search">Items Per Page:</label>
              <select ng-model="pageSize">
  <option value="10" selected="selected">10</option>
  <option value="25">25</option>
  <option value="50">50</option>
</select> <!-- <input type="number" min="1" max="100" class="form-control" ng-model="pageSize"> -->
            </div>
<div class="other-controller">
         
          <div class="text-center">
		  
          <dir-pagination-controls boundary-links="true" pagination-id="featurePaginationCtrl"
		  on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html">
		</dir-pagination-controls>
          </div>
        </div>

	
	
	
	
	
	
	</div>
	<div role="tabpanel" ng-cloak class="tab-pane "  ng-show="tabShowerChk=='discussion'">
<CENTER>UNDER DEVELOPMENT</CENTER>
    </div>
	
	
	
	<div role="tabpanel" ng-cloak class="tab-pane " ng-show="tabShowerChk=='service'">
	<div class="col-md-12" style="padding:0px"> 
	<div class="col-md-4 format-row" >
	
		<input type="radio" name="a" ng-click="filterdata('All')" checked="">All &nbsp;&nbsp; 
		<input type="radio" name="a"  ng-click="filterdata('Feature')">Deployment Request &nbsp;&nbsp; 
		<input type="radio" name="a" ng-click="filterdata('Feedback')" >Security Scan &nbsp;&nbsp;
		
	</div>
	 <div class="col-md-4 format-row" >

           <label for="search">Search:</label>
              <input ng-model="q" id="search" class="form-control form-control-width" placeholder="Filter text">

            </div> 
	<div class="col-md-4" style=
	"float:right;padding:0px">
	
	<div class="btn-group addfeaturebtn"style="margin-bottom:0px" disabled >
                                          <button type="button" class="btn btn-success">Add</button>
                                          <button type="button" disabled class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                          <span class="caret"></span>
                                          <span class="sr-only">Toggle Dropdown</span>
                                          </button>
                                          <ul class="dropdown-menu menu-format" role="menu">
                                             <li><a href="" ng-click="formPopup('deploypopup.html')" id="deploy">Add Deployment Request</a></li>
											 <li><a href="" ng-click="formPopup('securityscan.html')" id="scan">Security Scan</a></li>
                                          </ul>
                                       </div>

	
	<!-- <div class="btn-group addfeaturebtn">
	
	  <button type="button" class="btn btn-primary" ng-Click="detailSection(data)">Add</button>
</div> -->
	</div>

	
           
      
</div>

	<table class="datagrid dataTable " style="clear:both;" id="service-data">
	<thead>
		<tr>
			<th><div class="th-inner">Id</div><div class="fht-cell"></div></th>
			
			<th><div class="th-inner ">Request Type</div><div class="fht-cell"></div></th>
			
			<th><div class="th-inner ">Result</div><div class="fht-cell"></div></th>
			<th><div class="th-inner ">Created Date</div><div class="fht-cell"></div></th>
			<th><div class="th-inner ">Status</div><div class="fht-cell"></div></th>
			
		</tr>
	</thead>
			<tbody class="table-body " style="clear:both;" dir-paginate="val in servicedata | filter:q | itemsPerPage: pageSize" current-page="currentPage" pagination-id="servicePaginationCtrl" ng-hide="servicedata.length == 0">
			<tr>
			<td><a  ng-click="issuedetail(val)" class="th-inner">{{val.id}}</a><div class="fht-cell"></div></td>
			
			<td class="subject-col-width"><a ng-click="issuedetail(val)" class="th-inner ">{{val.tracker.name}}</a><div class="fht-cell"></div></td>
			
			<td><div class="th-inner ">{{val.result}}</div><div class="fht-cell"></div></td>
			<td><div class="th-inner ">{{val.created_on | dateformat}}</div><div class="fht-cell"></div></td>
			
			<td><div class="th-inner ">{{val.status.name}}</div><div class="fht-cell"></div></td>
		</tr>
			</tbody>
			<tbody ng-show="servicedata.length == 0">
			<tr>
			<td colspan="7" style="text-align:center">No data available</td>
			</tr>
			</tbody>
		</table>	
   
<div class="col-md-3">
              <label for="search">Items Per Page:</label>
              <select ng-model="pageSize">
  <option value="10" selected="selected">10</option>
  <option value="25">25</option>
  <option value="50">50</option>
</select> <!-- <input type="number" min="1" max="100" class="form-control" ng-model="pageSize"> -->
            </div>
<div  class="other-controller">
         
          <div class="text-center">
		  
          <dir-pagination-controls pagination-id="servicePaginationCtrl" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
          </div>
        </div>
    </div>

 <div role="tabpanel" ng-cloak class="tab-pane "  ng-show="tabShowerChk=='analytics'">
<CENTER>UNDER DEVELOPMENT</CENTER>
 <div  class="col-md-12">
                                <!--  <div class="campaign-name-format " ng-bind="data.name" ></div> -->
                                <div role="tabpanel" class="tabpanel">
                                    <ul class="nav nav-tabs" role="tablist">
                                       <li class="active" role="presentation"><a href="" aria-controls="overview" role="tab" data-toggle="tab" ng-click="tabShower2('overview')" >Overview</a></li>
                                       <li role="presentation"><a href="" aria-controls="country" role="tab" data-toggle="tab" ng-click="tabShower2('country')">Country</a></li>
                                       <li role="presentation"><a href="" aria-controls="visitor" role="tab" data-toggle="tab" ng-click="tabShower2('visitor')">Visitor</a></li>
                                       <li role="presentation" ><a href="" aria-controls="browser" role="tab" data-toggle="tab" ng-click="tabShower2('browser')">Browser</a></li>
                                    </ul>
                                  
                                 </div> 
                            


							</div> 
 
  <div role="tabpanel" ng-cloak class="tab-pane active"  ng-show="tabShowerChk2=='overview'">
  
 <!--  <div class="col-md-12">
<canvas id="line" height="300" width="600"></canvas>
    </div>
	 <div class="col-md-12">
	  <div class="col-md-8">
	  <div class="col-md-4">
	  
<canvas id="line1" height="600" width="600"></canvas>
    </div>
	 <div class="col-md-4">
	  
<canvas id="line2" height="600" width="600"></canvas>
    </div>
	 <div class="col-md-4">
	  
<canvas id="line3" height="600" width="600"></canvas>
    </div>

	<div class="col-md-4">
	  
<canvas id="line4" height="600" width="600"></canvas>
    </div>
	
	<div class="col-md-4">
	  
<canvas id="line5" height="600" width="600"></canvas>
    </div>
	<div class="col-md-4">
	  
<canvas id="line6" height="600" width="600"></canvas>
    </div>
	
    </div>
	
	<div class="col-md-4">
	</div>
	</div>
	 -->
	
	
	</div>
 
  <div role="tabpanel" ng-cloak class="tab-pane "  ng-show="tabShowerChk2=='country'">

    </div>
	 <div role="tabpanel" ng-cloak class="tab-pane "  ng-show="tabShowerChk2=='visitor'">

    </div>
	 <div role="tabpanel" ng-cloak class="tab-pane "  ng-show="tabShowerChk2=='browser'">
<canvas id="canvas" height="300" width="600"></canvas>
    </div>
 </div>	





						  </div>
                            <div class="clearfix"></div> 
						   
						   
						   
						   
                          
                        </div>
                        <!-- Section-Format -->
                     </div>
                     <!-- Main Container Ends -->
                  </div>
                  <!-- row -->
               </div>
               <!-- Container -->
            </section>
         </div>
         <!-- wrapper -->	
         <!-- HTML used through JS -->
      </div>
      <!-- Controller -->
      <!-- JavaScript -->
	  
	  
	  
	  
	   <script src= "js/Chart.js"></script>
      <script src= "js/angular.min.js"></script>
      <script src= "js/angular-sanitize.js"></script>
	   <script src="js/dist/angular-chart.js"></script>
      <script src="js/jquery.min.js"></script> 
      <script src="js/bootstrap.min.js"></script> 
      <script src="js/jquery-1.11.1.js"></script>
      <script src="js/detailPageController.js"></script>
      <script src="js/jscript.js"></script>
      <script src="js/ui-bootstrap-tpls-0.13.0.js"></script>
	  <script src="../js/jquery.dataTables.min.js"></script>
	  <script src="js/dirPagination.js"></script>
	  <script src="../js/static.js"></script>
	  
   </body>
</html>