<div class="modalLayout">
	<div class="modal-content modal-lg">
	
        <div class="modal-header modalheader-issue">
		
          <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>

          <h4 class="modal-title title-style"> {{data.id}}:{{data.subject}}</h4>		
				<!-- btn-group -->					
		</div>	<!-- Modal Header Ends -->
        
		<div class="modal-body ">
	
			<form class="form-horizontal"> 
				<div class="col-md-12 col-xs-12">
					  <div class="form-group">
					    <label for="id" class="col-md-4 control-label">ID<sup class="required-field">&lowast;</sup></label>
					    <div class="col-md-8">
					      <label  class="form-control" style="text-align:left" id="id" required>{{data.id}}</label>
					    </div>
					  </div>
					  
					   <div class="form-group">
					    <label for="trackerid" class="col-md-4 control-label">Type<sup class="required-field">&lowast;</sup></label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" ng-model="data.tracker.name" id="trackerid" required>
					    </div>
					  </div>
					   <div class="form-group">
					    <label for="issue-description" class="col-md-4 control-label">Description</label>
					    <div class="col-md-8">
						<textarea class="form-control controls-width ng-pristine ng-valid ng-touched" id="issue-description" ng-value="data.description" required>
						</textarea>
					      <!-- <input type="text" class="form-control" ng-model="data.subject" id="fields1" required> -->
					    </div>
					  </div>
					   <div class="form-group">
					    <label for="assignee" class="col-md-4 control-label">Assignee<sup class="required-field">&lowast;</sup></label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" ng-value="data.author.name" id="assignee" required>
					    </div>
					  </div>
					   <div class="form-group">
					    <label for="create-date" class="col-md-4 control-label">Created date<sup class="required-field">&lowast;</sup></label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" ng-value="data.created_on | dateformat" id="create-date" required>
					    </div>
					  </div>
					  
					  
					  
					  
					   <div class="form-group">
					    <label for="due-date" class="col-md-4 control-label">Due Date<sup class="required-field">&lowast;</sup></label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" ng-value="data.due_date | dateformat" id="due-date" required>
					    </div>
					  </div>
					  
					   <div class="form-group">
					    <label for="priority" class="col-md-4 control-label">Priority<sup class="required-field">&lowast;</sup></label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" ng-model="data.priority.name" id="priority" required>
					    </div>
					  </div>
		 <div class="form-group">
					    <label for="status" class="col-md-4 control-label">Status<sup class="required-field">&lowast;</sup></label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" ng-model="data.status.name" id="status" required>
					    </div>
					  </div>
		</div>
		</form>
		</div>
			<!-- Modal-Body Ends-->
        <div class="modal-footer modalfooter">
          <button type="button" class="btn btn-primary" ng-click="cancel()" data-dismiss="modal">Close</button>
        </div>	  <!-- Modal-Footer Ends-->
      </div>	<!-- ModalContent Ends -->
	  </div>