<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="cancelModal('lg')">&times;</button>
				<h4 class="modal-title" id="myModalLabel">
			Security Alert
				</h4>
			</div>
			<div class="modal-body">		
			<form class="form-horizontal"> 
				<div class="col-md-12 col-xs-12">
					  Are You Sure to Start Security Scan ?
					 <!--  <div class="form-group"> -->
				</div>
					 <div  class=" btn-position">
					 
					   		<button type="button" class="btn btn-success " disabled> <!-- onClick="updateCampaign()" -->Yes</button>
				
					  
					   		<button type="button" class="btn btn-success" ng-click="cancelModal('lg')" disabled ><!-- onClick="updateCampaign()" -->No</button>
					
					  </div>
				</form>
				<div class="clear"></div>
			</div>
		</div>