body{

background-color:#013669;
margin:0 auto;
//background-image:url('../images/bg-image1.jpg');
//background:url("ui/legobg.png") fixed;
//background-size:cover;
}

header
{
background:url("ui/headerbg.png") 0 0 repeat-x #004f7c;
height: 72px;
  border-bottom: #1a8dcb 4px solid;
}
.header-right,.header-right .actioncenter{
padding:0px; !important
}

.divOverlay{left:0;top:0;position:fixed;z-index:444;background-color:#333;opacity:.4;width:100%;height:100%;text-align:center;
vertical-align:middle;}

.divOverlay img
{
	text-align:center;
	vertical-align:middle;
}

textarea
{
	resize:none;
}

.margin-right
{
margin-right:0px;
margin-left:0px;
}

.wrapper
{
	max-width:1400px;
	margin:0 auto;
	width:100%;
}

#openNav
{
  background: url("ui/menu.png") center no-repeat;
  height: 26px;
  width: 26px;
  float: left;
  margin-top: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.form-control-width{
width:80%;
display:inline;

}

/* Styles go here */

.my-controller {
  border: 1px solid #fcc;
  padding: 5px;
  margin: 3px;
}
.my-controller small {
  color: #c99;
}
.other-controller {
 // border: 1px solid #ccf;
  padding: 5px;
  margin: 3px;
}


.other-controller small {
  color: #99c;
}
.third-controller {
  border: 1px solid #cfc;
  padding: 5px;
  margin: 3px;
}
.third-controller small {
  color: #9c9;
}
header .logo h2 {
  color: #eee;
  font-size: 24px;
  font-family: 'Arial';
  font-weight: bold;
}

.header-right h2
{
  font-size: 14px;
  //float: right;
  margin-top: 30px;
  color: #eee;
  text-align: center;
}

section
{
	margin-bottom:15px;
}


.subject-col-width{

max-width:200px;
}
.padding
{
	padding-right:0px;
	padding-left:0px;
}

.width
{
	width:100%;
}

.section-format
{

	 background-color:white;
	//border:3px solid #1e6197;
	//border-radius:5px;

}



.head-top2{
float:left;

color:#a6b3c7;
}



.margin-left
{
	margin-left:0px;
}



.actioncenter
{
	float:right;
	margin-bottom: 15px;
    margin-top: 5px;
}




ul li 
{
 //width:15%;
text-align:center;

}

ul li:first-child {
  border-left: none;
}












/* hide back of pane during swap */


.row-element-width{
width:10%;
}
a:active,a:hover,a:focus
{
outline:none;
}
.campaign-name-border{
padding:0px;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.62);

}

.form-horizontal .control-label {
   
    padding-top: 0;
   
}
.addfeaturebtn{
float:right;
margin-top:30px;
margin-bottom:20px;
}
.campaign-name{
//color:purple;


}
.option-format{text-align:left;
}

.format-row{
line-height: 50px;
margin-top:20px;margin-bottom:20px
}

.data-format{
margin-top:20px;
color:#666;
font-size:14px;

}
.label-format{
margin-top:20px;
color:#555;
font-size:14px;

}
.nav-tabs{
margin-top:20px;

}



.tab-format{
padding:0px;
}

.nav.nav-tabs > li {
    font-size: 14px;
}

.nav > li {
    display: inline-block;
    position: relative;
}
.campaign-name-format{
//border: 2px solid red;
padding:0px;
//text-align:center;
font-size:24px;
}
.img-width{
width:100%;
}
.nav-tabs > li {
    float: none;}

/* front pane, 

placed above back */



.menu
{
	positon:relative;
}

.menu li a
{
	background-color:rgba(0, 0, 0, 0.23);
}

.menu li a.active
{
background-color:#2e6da4;
color:white;
z-index: 1;
width: 100%;
}

.modalheader {
    border-bottom: 3px solid #4cae4c;
	 min-height: 56.43px;
}
.modalheader-issue {
    border-bottom: 3px solid #4cae4c;
	 min-height: 100px;
}
.center-modal
{
	//position: fixed;
    //top: 10%;
    //left: 18.5%;
    z-index: 1050;
    width: 100%;
    height: 100%;
   //margin-left: -10%;
}
.menu-format{
left:-127px;
right:0px;


}
.title-style {
    color: black;
    float: left;
    width: 85%;
}

.modalbody {
    padding: 10px 0;
}
.modal-body {
    text-align: center;
}

.modalfooter {
    margin-top: 0;
}
.modal-footer {
    border: medium none;
    clear: both;
    margin-top: 20px;
}

.modalLayout
{
	//width:900px;
}
.modalheader {
    border-bottom: 3px solid #4cae4c;
}

.modal-lg {
    width: 100% !important;
}
.modal-dialog {
  //  margin: 10%;
   // position: relative;
   // width: auto !important;
}

.required-field
{
color:red;
}
.bottom-font
{
	color:#337ab7;
	text-align:center;
	font-family:arial;
	font-weight:bold;
	/* white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; */
	height:300px;
	margin-top: 15px;
    //margin-bottom: 11px;
	width:19.88%;
}


.imgexp
{
 display:block;
}



.nav-float
{
	padding-right:0px;
	padding-left:0px;
}

#panel
{
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	margin-top:10px;
	 padding: 50px;
    display: none;
	width:auto;
	position:relative;
}

#panel1
{
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
	margin-top:10px;
	 padding: 50px;
    display: none;
	width:auto;
}


.bttn
{
 margin-top:5px;
 position:relative;
}

.content-pos
{
 padding:100px;
}

.bar-width
{
	//width:40%;
	float:left;
}

td, th
{
padding:10px;
}

.burndown
{
	box-shadow: 0 0 10px 0 rgba(255, 0, 0, 1);
}
.bttn-text
{
	padding: 7px;
    font-size: 15px;
}
  
#newrequest .form-group {
  width: 50%;
  float: left;
}

.bttn-pos
{
	float:right;
	margin-top:10px;
}


a:focus, a:hover 
{
    color: #303C47;
    text-decoration: none;
	cursor:pointer;
}  

.maincontainer
{
	width:100%;
}

.navigation ul 
{
  padding: 0;
  margin: 0;
}

.header
 {
  background: #0070ba url(ui/headerbg.png) 0 0 repeat-x;
}  

/*! Freebie Skelet */
	
	
	
	/* Mouse Events */
		
	
* 
{
  outline: none;
}

.navigation{padding: 0; display: none;}
.navigation ul{padding: 0;margin: 0;}

header .usermenu .userheading{color: #eee;background:none !important; line-height: 39px;}
header .usermenu .userheading:hover{color: #fff; }


.align li a
{
 text-align:left;
}


/* Media Query Starts Here */


 @media screen and (max-width:1000px)
{
	.bottom-font
	{
		max-width:230px;
		margin-top:20px;
		width:100%;
		float:left;
	}
	
	.menu li a.active
	{
		width:100%;
	}
	
	
	header .logo h2
	{
		margin-top: 16px;
		float: left;
	}
	
	.head-top-mid
	{
		float: left;
		width: 53%;
	}
	
	.head-top1
	{
		float:none;
	}
}

@media screen and (max-width:481px)
{
	.bottom-font
	{
	  float:none;
	  margin: 15px auto;
	  max-width:285px;
	}
	
	#openNav
	{
		width:50px;
		margin-top:17px;
		margin-right: 0px;
	}
	
	.head-top-mid
	{
		float:none;
		width:100%;
	}
	
	ul.header_links2
	{
		float:left;
		display:block;
		padding-bottom: 10px;
	}
	
	header
	{
		height:auto;
		
	}

}

@media screen and (max-width:320px)
{
	.btn-default
	{
		margin-top:10px;
	}
}

