.modal-body{text-align:center}
.modal-footer{border:none}
div.clear{clear: both;visibility: hidden;}
.center{margin: 0 auto; float: none;}
*{outline: none;}
.flr{float: right;}
#openNav{
	float: left;
	background: url(ui/menu.png) center no-repeat;
	height: 26px;
	width: 26px;
	float: left;
	margin-top: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.divOverlay{left:0;top:0;position:fixed;z-index:444;background-color:#333;opacity:.4;width:100%;height:100%;text-align:center;
vertical-align:middle;}

.divOverlay img
{
	
	margin:auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	
}
.design-border{
border:1px solid #000;
}
.design-border img{ width: 8%;}
.list-design{
  height: 207px;
    margin-bottom: 0;
}
.design{
background-color :rgba(237,89,78,0.4);
}
.btn-margin{
margin-right:10px;

}
#estimateform input{
font-size:11px;

}

#estimateform  .modal-header{
border-bottom:none;
}
#estimateform  .modal-header .close {
    margin-top: -33px;
}
#estimateform  button:last-child{
padding: 13px;}

.padding-label{

padding:0px;
}

.desc-width
{
	    width: 70%;
}

#estcomment{

 padding: 11px;}
.form-field
{
	width:70%;
}

.modal-dialog-custom{
width:900px;

}


#due_date.form-control[readonly],#launch_date.form-control[readonly],#exit_date.form-control[readonly],#fldLaunchDate.form-control[readonly],#fldExit.form-control[readonly]
{
background-color: white;
cursor: pointer;
}

.down-btn{
 padding:0.6em 2.7em 0.9em;
 margin-right: 5px;
}

.running-btn{
padding: 0.6em 1.9em .9em;  margin-right: 5px;

}


textarea
{
	resize:none;
}
.warn{text-align: center;color:#f00;}
#localfile{text-align: center;}
#openNav:hover{opacity: 0.6;}
button:focus, button:hover,a:focus, a:hover{outline: none !important;}
.pro_status{height: 400px;background: #fff;}
.pro_status:hover{background: #fff;}
.dataTables_filter input{border: #ccc 1px solid}
.burndown img{display: block; margin:0 auto;}
/* Login form style */
#forgotpass{display: none;}
#forgotpass #backtologin{position: relative;top: 28px; float: left;margin: 0}
#loginform{ 
	overflow: hidden;
	width:350px;
	margin:80px auto;
	height:auto;
	background:#fff;
	position: relative;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.smart-login{ 
	margin:20px 25px;
}
#loginform .clear{height: 20px;}
#loginform h1{  font-size: 20px;
  color: #000;
  padding-left: 27px;}
.smart-login-fields input, .smart-login-fields select{
	background: #f1f1f1;
	padding: 7px 15px 7px 10px;
	width: 100%; 
	border: 1px solid #ccc;
	margin-bottom:20px;
	font: 12px'Open Sans', Helvetica, Arial, sans-serif;
	-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-kthtml-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.smart-login-fields select{background: #f1f1f1;padding: 7px 15px 5px 10px;}
.smart-login-fields input:last-child{
	margin-bottom:5px;
}
#username{
	background-position: 8px -10px !important;
}
#password{
	background-position: 8px -60px !important;
}
.smart-login-fields input:focus{
	background-color:rgba(250,250,250,1.0);
	border-color: #33b5e5;
	-moz-box-shadow: 0 0 0 1px #e8c291 inset;
	-webkit-box-shadow: 0 0 0 1px #e8c291 inset;
	box-shadow: 0 0 0 1px #e8c291 inset;
}
.password-reset{ 
	font: 11px 'Open Sans', Helvetica, Arial, sans-serif;
	margin-left:180px;
}
.password-reset a:link,.password-reset a:visited {
	color:#4CAA00;
} 
.password-reset a:hover{ 
	color:#4CAA00;
	text-decoration:underline;
}
.cookie{
	position:absolute;
	top:233px;
}
.cookie input{
	top: 2px;
	position: relative;
}
.smart-login-actions{
	position:absolute;
	right:16px;
}
.smart-login-actions input{
	width:70px;
	height:32px;
	padding:auto;
	background-color:#4CAA00;
	border:none;
	opacity: 0.8;
	transition: opacity 0.2s;
	-khtml-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	font:12px verdana;
	cursor: pointer;
	color:#fff;
	border:none;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	margin-top:2px;
	margin-right:10px;
}
@-moz-document url-prefix() {
	#smart-login-actions input{
		margin-top:-10px;
	}
}
.smart-login-actions input:hover{
	opacity:1;
}
/*! Freebie Skelet */
	ul.expmenu * { list-style: none; }
	ul.expmenu > li > div.header { padding: 12px; border-bottom: 1px #396e9f solid; height: auto; }
	ul.expmenu > li:last-child > div.header { border-bottom: none; }
	/*ul.expmenu > li.active .header{background: #fff; color: #333;}
	ul.expmenu > li.active .header .label{ color: #333;}
	ul.expmenu > li.active:hover  .header{background-color: #fff;}*/
	ul.expmenu > li ul li { background-color: #ececec; padding: 12px; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #fff; color: #727272; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }
	ul.expmenu > li ul li:last-child { border-bottom: none; }
	ul.expmenu > li ul li.selected { background-color: #f4f4f4; }
	ul.expmenu div.header
	{
		color: #203f61;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);

		background: #44555; /* Old browsers */
	}
	ul.expmenu > li > div.header > .label { padding-left: 24px; background: no-repeat; }
	ul.expmenu > li > div.header > .arrow { display: block; width: 16px; height: 16px; background: no-repeat center; float: right; }
	ul.expmenu > li > div.header > .arrow.up { background-image: url(ui/arrow_u.png); }
	ul.expmenu > li > div.header > .arrow.down { background-image: url(ui/arrow_d.png); }

		/* Mouse Events */
		ul.expmenu div.header:hover
		{
			background: #222; /* Old browsers */
			
			cursor: pointer;
		}

		ul.expmenu > li ul li:not(.selected):hover
		{
			background: #e7e7e7; /* Old browsers */

			cursor: pointer;
		}
		ul.expmenu > li ul li:not(.selected):active
		{
			background: #f1f1f1; /* Old browsers */

			cursor: pointer;
		}
/* ends here */
.proheading{
	color: #444;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 18px;
	font-weight: bold;
	border-bottom: #4cae4c 3px solid;
	padding: 5px;
	text-align: center;
}
.pro_status h4{
	text-align: center;
	font-weight: bold;
	color: #999;
	font-size: 15px;
	border-bottom: #4cae4c 3px solid;
	padding: 5px 0px 8px 0px;
	margin: 0;
}
#status-Design,
#status-Development,
#status-Testing,
#status-Live
{display: none;}
.statusData .icon img{display: block; margin: 30px auto;}
.bugchart{padding-top: 20px;}
.statusData ul li{
	display: block;
	padding-left: 20px;
	list-style: none;
	line-height: 22px;
}
.statusData.design ul li{ background: url(ui/process.png) 0px 3px no-repeat;}
.statusData.dev ul li{ background: url(ui/process.png) 0px 3px no-repeat;}
.statusData.quality ul li{ background: url(ui/process.png) 0px 3px no-repeat;}
.statusData.live ul li{ background: url(ui/done.png) 0px 3px no-repeat;}

#Live_dataTable{display: none;}
.datagrid{border: #444 0px solid; margin-top: 20px; width: 100%; border-collapse: collapse;}
.datagrid thead tr th{
	background:#f1f1f1 ;
	color: #555;
	font-size: 12px;
}
.datagrid tbody tr:nth-child(odd){background: #fdfdfd;}
.datagrid tbody tr:nth-child(even){background: #f2f2f2;}
.datagrid tbody tr.pro_status{background: #fff; border-bottom: #ccc 7px solid; border-top: #ccc 7px solid;}
.datagrid tbody tr.pro_status td{padding:0;}
.datagrid tbody tr.pro_status:hover{background: #fff;}
.datagrid tbody tr:hover{background: #f6f8e6;}
.datagrid th,
.datagrid td{padding: 3px 5px; border: #ccc 1px solid; }
.datagrid th{padding: 3px 15px 3px 5px;}
.datagrid td{color: #666; font-size: 12px;}

.dataTable_info{
	float: left;
	font-size: 11px;
	height: 23px;
	line-height: 26px;
	color: #666;
}
/* progress */
.loader{
	margin: 50px auto;
}
 .txt{
	font-size: 11px;
	text-align: center;
	height: 20px;
}
.uk-progress
{
	box-sizing:border-box;
	height:20px;
	margin:5px auto;
	background:#f7f7f7;
	overflow:hidden;
	line-height:20px;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,.07),inset 0 2px 2px rgba(0,0,0,.07);
	border-radius:4px;
	width:200px;
}
.uk-progress-bar
{
	width:0;
	height:100%;
	background:#009dd8;
	float:left;
	-webkit-transition:width .6s ease;
	transition:width .6s ease;
	font-size:12px;
	color:#fff;
	text-align:center;
	background-image:-webkit-linear-gradient(top,#00b4f5,#008dc5);
	background-image:linear-gradient(to bottom,#00b4f5,#008dc5);
	box-shadow:inset 0 -1px 0 rgba(0,0,0,.2),inset 0 0 0 1px rgba(0,0,0,.1);
	text-shadow:0 -1px 0 rgba(0,0,0,.2)
}
.uk-progress-mini
{
	height:6px
}
.uk-progress-small
{
	height:12px
}
.uk-progress-success .uk-progress-bar
{
	background-color:#82bb42;
	background-image:-webkit-linear-gradient(top,#9fd256,#6fac34);
	background-image:linear-gradient(to bottom,#9fd256,#6fac34)
}
.uk-progress-warning .uk-progress-bar
{
	background-color:#f9a124;
	background-image:-webkit-linear-gradient(top,#fbb450,#f89406);
	background-image:linear-gradient(to bottom,#fbb450,#f89406)
}
.uk-progress-danger .uk-progress-bar
{
	background-color:#d32c46;
	background-image:-webkit-linear-gradient(top,#ee465a,#c11a39);
	background-image:linear-gradient(to bottom,#ee465a,#c11a39)
}
.uk-progress-striped .uk-progress-bar
{
	background-image:-webkit-linear-gradient(-45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image:linear-gradient(-45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-size:30px 30px
}
.uk-progress-striped.uk-active .uk-progress-bar
{
	-webkit-animation:uk-progress-bar-stripes 2s linear infinite;
	animation:uk-progress-bar-stripes 2s linear infinite
}
	@-webkit-keyframes uk-progress-bar-stripes
{
	0%
{
	background-position:0 0
}
	100%
{
	background-position:30px 0
}

}
	@keyframes uk-progress-bar-stripes
{
	0%
{
	background-position:0 0
}
	100%
{
	background-position:30px 0
}

}
.uk-progress-mini,.uk-progress-small
{
	border-radius:500px
}
#newrequest .form-group {
  width: 50%;
  float: left;
}
#newrequest .modal-footer{ margin-top: 20px; clear: both;}
.actioncenter{
	padding: 10px;
	border-bottom: #ccc 0px solid;
	text-align: right;
}
.actiongroup{float: right;}



.btn-position{
text-align: right;
  padding-top: 34px;
}

.btn-position button:first-child{
margin-right:10px;
}

.ui-autocomplete {z-index:9999;}
#newrequest .form-group {margin-top:10px;}


#chart-area{
		height:200px !important;
		width:200px !important;
		}