body{
	background: url(ui/legobg.png) fixed;
	background-size: cover;
}
.header {
	background: #0070ba url(ui/headerbg.png) 0 0 repeat-x;  
	height: 72px;
	border-bottom: #1a8dcb 4px solid;
}
.header .logo{float: left;}
.header .logo h2{
	color: #eee;
	font-size: 24px;
	font-family: 'Arial';
	font-weight: bold;
}
.header .usermenu .userheading{color: #eee;background:none !important; line-height: 39px;}
.header .usermenu .userheading:hover{color: #fff; }


.navigation{padding: 0; display: none;}
.navigation ul{padding: 0;margin: 0;}


.maincontainer{
	min-height: 600px;
	background: #fff;
	padding-bottom: 50px;
	width: 100%;
}
.maincontainer .tabpanel{margin: 10px auto;}


.footer{
	height: 25px;
	background: #000;
	color: #777;
	position: fixed;
	bottom: 0;
	opacity: 0.9;
	font-size: 10px;
	line-height: 25px;
	text-align: center;
}

/* CSS added by Poonam */
.red {color:#F00;}